<!--
title: Aide au calage : import des mesures dans la base de données
description: 
published: true
date: 2025-02-13T15:53:33.818Z
tags: 
editor: ckeditor
dateCreated: 2024-01-22T13:21:04.507Z
-->

<h1>Introduction</h1>
<p>Il est possible d'importer les mesures disponibles sur le réseau dans la base de données d'express'eau pour pouvoir les visualiser en même temps que les résultats des calculs.</p>
<p>Cela constitue une ide au calage importante. Il n'est plus nécessaire d'exporter les résultats de calculs avec Extract pour visualiser les courbes de calage !</p>
<p>Les mesures sont &nbsp;portées par deux tables :&nbsp;</p>
<ul>
  <li>la table des capteurs qui est géolocalisée</li>
  <li>la table des mesures</li>
</ul>
<p>En termes de structure de la base de données, ces deux tables sont dans le schéma "msr" de la base de données.</p>
<h1>Import des données de mesures</h1>
<p>L'import de données de mesures se fait en deux étapes :</p>
<ol>
  <li>Renseigner la table des capteurs</li>
  <li>Renseigner la table des mesures</li>
</ol>
<p>&nbsp;</p>
<h3><strong>1 ) Renseigner la&nbsp;table des capteurs</strong></h3>
<p>La couche des capteurs est la suivante :</p>
<ul>
  <li>Table “msr.sensor” : “Capteurs”</li>
  <li>Champs :<ul>
      <li>id : identifiant unique du capteur. Le mesures feront référence à cet identifiant</li>
      <li>Name : nom du capteur</li>
      <li>Type et unité de mesures : type de mesures prises par le capteur. Si un capteur effectue plusieurs mesures, il faut créer plusieurs capteurs au même endroit). Les types et unités associées sont les suivantes :<ul>
          <li>'index(m3)', &nbsp; 'q(m3/h)', &nbsp; 'q(m3/s)', &nbsp; 'q(m3/day)', &nbsp; 'z(m)', &nbsp; 'p(bar)', &nbsp; 'p(m)'</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>Comment</li>
</ul>
<p>Les capteurs peuvent être créés à la main avec l'outil de création d'objet de QGIS. Ils peuvent également être importés via un fichier texte ou via une couche SIG existante.</p>
<p><u>Format du fichier texte des capteurs pour import :</u></p>
<ul>
  <li>Fichier csv avec séparateur tabulation</li>
  <li>Colonnes :<ul>
      <li>id_capteur (unique),</li>
      <li>nom du capteur,</li>
      <li>Type et unité</li>
      <li>Géométrie</li>
      <li>Commentaires (facultatif)</li>
    </ul>
  </li>
</ul>
<p>Pour importer les capteurs, lancer la requête suivante :</p>
<p><code><i>copy ___.sensor from 'c:\Users\prenom.nom\repertoire_lambda\sensors.csv'</i></code></p>
<p><i>Pour lancer une requête sql : Menu “Base de données→”Manager de base de données" : Dérouler “PostGIS”, dérouler le modèle dans lequel importer les capteurs puis ouvrir la fenêtre SQL, écrire la requête ci-dessus et cliquer sur “Exécuter”.</i></p>
<p><u>Couche SIG des capteurs pour import :</u></p>
<p>Si une couche SIG existe, il faut la modifier pour qu'elle ait les champs attendus et faire un copier-coller de la couche SIG vers la table “Capteurs”</p>
<blockquote>
  <p>Remarques : Il est possible d'importer autant de capteurs que voulu, même si aucune mesure n'existe que certains capteurs. Il est donc possible d'importer les capteurs à partir de la couche SIG de l'exploitant, sans nettoyage préalable.</p>
</blockquote>
<h3><strong>2 ) &nbsp;Renseigner la&nbsp;table&nbsp;des mesures</strong></h3>
<p>La couche des mesures est la suivante :</p>
<ul>
  <li>Table “msr.measure” : “Mesures”</li>
  <li>Champs :<ul>
      <li>Timestamp : date et heure de la mesure</li>
      <li>Value : valeur de la mesure</li>
      <li>Sensor : identifiant unique du capteur</li>
      <li>Creation date (rempli automatiquement)</li>
    </ul>
  </li>
</ul>
<p>Les mesures sont généralement importées via un fichier texte.</p>
<p><u>Format du fichier texte des mesures pour import :</u></p>
<ul>
  <li>Fichier csv avec séparateur tabulation</li>
  <li>Colonnes :</li>
  <li>date JJ/MM/AAAA HH:MM</li>
  <li>valeur</li>
  <li>id_capteur</li>
</ul>
<p>Pour importer les capteurs, lancer la requête suivante :</p>
<p><code><i>copy ___.measure (t, value, sensor) from 'C:\Users\prenom.nom\repertoire_lambda\mesures.csv'</i></code></p>
<p><i>Pour lancer une requête sql : Menu “Base de données→”Manager de base de données" : Dérouler “PostGIS”, dérouler le modèle dans lequel importer les capteurs puis ouvrir la fenêtre SQL, écrire la requête ci-dessus et cliquer sur “Exécuter”.</i></p>
<blockquote>
  <p>Remarques : Il est déconseillé d'importer les mesures via un copier-coller dans la couches “Mesures”. En effet, le format de date est mal transcrit par un copier-coller alors que la requête sql ci-dessous gère très bien le format date.</p>
</blockquote>
<h1>Visualiser les mesures et les résultats du calcul</h1>
<p>La fenêtre du grapheur est munie de deux onglets :</p>
<ul>
  <li>L'onglet “Simulation” : voir la page <a href="https://xpresseau.hydra-software.net/fr/visualisation_resultats">https://xpresseau.hydra-software.net/fr/visualisation_resultats</a></li>
  <li>L'onglet&nbsp;“Mesures” : cet onglet permet de choisir la mesure à tracer.</li>
</ul>
<p>La mesure à tracer est automatiquement détectée en fonction de l'élément du modèle sur lequel sont tracés les résultats du calcul, par recherche de proximité.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
