<!--
title: Génération automatique de graphes (et plus encore)
description: Génération automatique de graphes de résultats
published: true
date: 2024-09-17T15:00:08.442Z
tags: 
editor: ckeditor
dateCreated: 2024-09-17T14:13:34.517Z
-->

<h1>Introduction</h1>
<h2>Objet de l'outil</h2>
<p>L'outil “autograph” permet de générer des graphes de manière automatique une fois les calculs terminés. Ces graphes correspondent à ce qu'un·e modélisateurice a besoin de visualiser pour vérifier et comprendre le fonctionnement de son modèle.</p>
<p>Mais l'outil a quelques fonctionnalités supplémentaires, que nous allons aborder sur cette page.</p>
<h2>Lancement</h2>
<p>Deux façons de lancer l'outil :</p>
<ul>
  <li>Cocher la case “Autograph” dans la fenêtre de lancement de la simulation (plus exactement, ne pas la décocher)</li>
  <li>Lancer l'outil de traitement disponible dans la boite à outils de traitement dans la partie expresseau : permet de relancer autograph sans relancer toute la simulation - NB : rouvrir le fichier html qui est dans .expresseau/projet/graphs/scenario est encore plus rapide)</li>
</ul>
<h1>Fonctionnalités</h1>
<h2>Génération automatique de graphes</h2>
<p>Les graphes de résultats sont générés par modèle, sur les éléments suivants :</p>
<ul>
  <li>Réservoir : on trace la cote de fond, la cote du trop-plein et la cote de l'eau en fonction du temps.</li>
  <li>Pompe : on trace son débit en fonction du temps ainsi que sa HMT si elle est régulée en pression (dans ce cas sa pression de consigne est aussi tracée) ou en marche/arrêt sur un réservoir (dans ce cas les cotes de démarrage et d'arrêt sont tracées).</li>
  <li>Régulateur de pression : on trace sa pression de consigne et les pressions amont et aval en fonction du temps.</li>
  <li>Régulateur de débit : on trace son débit de consigne et son débit en fonction du temps.</li>
  <li>Connecteur de modèles : on trace la cote et le débit sur le connecteur. (dans le cas d'une simulation en mode global, ces informations n'apparaissent pas car elles ne sont pas disponibles dans les fichiers de résultats)</li>
  <li>Débitmètre : on trace le débit en fonction du temps sur les canalisations munies d'un débitmètre.</li>
</ul>
<p>La figure suivante montre un exemple de page générée par autograph :</p>
<figure class="image image_resized" style="width:39.61%;"><img src="/page_autograph.png"></figure>
<p>Si des mesures existent, elles sont également tracées.</p>
<h2>Localisation d'un élément</h2>
<p>Pour plus de fluidité entre ce rapport de modélisation et le modèle, il est possible de cliquer sur les graphes. Cela a pour effet, si QGIS est ouvert et le projet chargé, d'ouvrir la barre de recherche de QGIS avec le nom de l'élément. Il n'y a plus qu'à taper sur “Entrée” pour zoomer sur l'élément.</p>
<h2>Commentaires et sauvegarde</h2>
<p>Chaque graphe est muni d'une case de commentaire. Il est donc possible de commenter les graphes puis de sauvegarder ces commentaires dans la base de données. Ils sont sauvegardés et seront rechargés au prochain lancement d'Autograph sur ce scénario de calcul (un commentaire est propre à un élément et une scénario).</p>
<p>Attention à bien cliquer sur “Sauvegarder dans le projet” pour un ajout ou une modification du commentaire.</p>
