<!--
title: Cartographie des résultats
description: 
published: true
date: 2022-07-22T16:27:41.609Z
tags: 
editor: ckeditor
dateCreated: 2022-07-22T16:18:16.368Z
-->

<h1>Introduction</h1>
<p>La cartographie des résultats est automatisée dans Express’eau. Elle permet l’affichage des résultats sur les nœuds, les réservoirs et les canalisations.</p>
<p>Ces cartographies de résultats sont générées sous forme de géo-packages indépendants du plugin express’eau puis les couches de ce géopackage sont ajoutée aux couches d’express’eau, dans un groupe nommé&nbsp;:&nbsp;{<strong>nom du scn} résultats synthétiques.</strong></p>
<h2>Couches de résultats dans le gestionnaire de couches</h2>
<p>Le groupe {<strong>nom du scn} résultats synthétiques</strong> contient trois sous-groupes&nbsp;:</p>
<ul>
  <li>Les couches de résultats</li>
  <li>Les résultats du calcul hydraulique</li>
  <li>Les résultats du calcul de qualité de l’eau</li>
</ul>
<figure class="image"><img src="/couches_carto_resultats.png"></figure>
<p>&nbsp;</p>
<h3>Couches de résultats bruts</h3>
<p>Les couches de résultats sont produites sur&nbsp;:</p>
<ul>
  <li>Les nœuds</li>
  <li>Les canalisations</li>
  <li>Les réservoirs</li>
</ul>
<p>Ces couches donne un bilan des valeurs minimales et maximales des grandeurs calculées.</p>
<p>&nbsp;</p>
<h3>Couches cartographiques des résultats hydrauliques</h3>
<p>Les couches cartographiques de résultats hydrauliques sont les suivantes :</p>
<figure class="image"><img src="/couches_carto_res_hydrau.png"></figure>
<p>Sélectionner une des couches permet de visualiser les résultats, par exemple ici la pression maximale sur le réseau <u>fictif</u> suivant :</p>
<figure class="image image_resized" style="width:75.19%;"><img src="/exemple_carto_pression.png"></figure>
<p>&nbsp;</p>
<p>Les échelles sont pré-établies comme suit :</p>
<ul>
  <li>pressions minimales et maximales : échelle de 8 intervalles faisant ressortir les pressions inférieures à 2 bars et supérieures à 8 bars.</li>
  <li>piézométries minimales et maximales : échelle de 4 intervalles adaptées aux valeurs calculées par la simulation</li>
  <li>débits minimaux et maximaux : échelle de 4 intervalles adaptés aux valeurs calculées par la simulation</li>
  <li>vitesses minimales et maximales : échelle de 6 intervalles faisant ressortir les faibles et fortes vitesses</li>
  <li>pertes de charge maximales : échelle de 6 intervalles faisant ressortir les faibles et fortes pertes de charge</li>
</ul>
<h3>&nbsp;</h3>
<h3>Couches cartographiques des résultats de qualité</h3>
<p>Les couches de résultats produites sont les suivantes :</p>
<ul>
  <li>temps de séjour.</li>
</ul>
<p>Les échelles sont pré-établies comme suit :</p>
<ul>
  <li>temps de séjour : échelle de 5 intervalles faisant ressortir les forts temps de séjour</li>
</ul>
<p>&nbsp;</p>
<h2>Utilisation avancée</h2>
<p>&nbsp;</p>
<h3>Modification des styles</h3>
<p>Les échelles peuvent être modifiées par l'utilisateur, comme toute cartographie sous QGIS, dans le menu <code>symbologie </code>des <code>propriétés de la couche</code>.</p>
<p>Les styles par défauts sont appliqués aux couches de résultats. Ils reposent sur les qml stockés ici&nbsp;:</p>
<p><i><u>C:\Users\votre_nom\AppData\Roaming\QGIS\QGIS3\profiles\default\python\plugins\expresseau\ressources\qml.</u></i></p>
<p>Ces styles sont modifiables par l’utilisateur, comme tous les styles de QGIS. Cependant, pour ne pas «&nbsp;perdre&nbsp;» ces modifications en cas de relance de la simulation, il convient de sauvegarder le style voulu dans un fichier <i>mon_style</i>*.qml et de le réappliquer après la simulation, et ce pour chaque type de résultats.&nbsp;</p>
<p>Il est également possible de sauvegarder tous les styles personnalisés et qu'ils soient réutilisés automatiquement. Pour cela, cliquer sur <code>Express'eau → Enregistrer les styles de couches personnalisés</code>. Tous les nouveau fichiers qml sont sauvegardés dans le dossier qml de votre répertoire <i><u>C:\Users\votre_nom\.expresseau.</u></i></p>
<p>&nbsp;</p>
<h3>Consultation du géopackage</h3>
<p>La consultation des géopackages est rendues inutile grâce aux couches de résultats qui en émanent.</p>
<p>Cependant, si vous souhaitez les charger dans QGIS, affichez le volet explorateur de QGIS, faites un clic-droit sur <code>Géopackage =&gt; Nouvelle connexion…</code></p>
<p>Cherchez le géopackage dans&nbsp;: <i><u>C:\Users\{votrenom}\.expresseau\{nom du projet}\{nom du scenario}\hydraulique\scenario.gpkg</u></i></p>
<p>Le géopackage peut être chargé dans n’importe quelle session de QGIS, par exemple à un partenaire qui ne dispose pas d’express’eau et veut consulter les résultats d’un scénario de simulation. Il lui suffira alors de glisser-déplacer (ou de double-cliquer sur) les couches du géopackage pour les afficher dans son gestionnaire de couche. La mise en forme sera automatique car elle est incluse dans le géopackage.</p>
<p>&nbsp;</p>
