<!--
title: Configuration
description: 
published: true
date: 2023-06-27T15:42:12.610Z
tags: 
editor: ckeditor
dateCreated: 2021-05-18T15:48:00.750Z
-->

<h1>Principes</h1>
<p>La <strong>Configuration</strong> permet de générer et de tracer des modifications de paramètres géométriques, topographiques et hydrauliques attachés aux objets de modélisation, dans un même projet, sans impacter les paramètres de base. Cette fonctionnalité permet de créer dans un projet une configuration de base définissant un état de référence ainsi que des scénarios d'aménagement ou d'évolution n’impliquant pas de modifications de structure topologique : création ou effacement de digues, modification de coefficients de ruissellements, recalibrage de réseaux, etc.</p>
<p>Cette fonctionnalité permet d'assurer la traçabilité des différentes configurations modélisées, mais également de faciliter l'exploitation des résultats et la comparaison des différents scénarios de calcul entre eux.</p>
<p>Par défaut, les nouveaux objets de modélisation sont créés dans une configuration <strong>Défaut</strong>. La création de configurations, détaillée ci-dessous, passe par les étapes suivantes :</p>
<ul>
  <li>Création d'une configuration,</li>
  <li>Activation d'une configuration dans la barre d'outils,</li>
  <li>Édition des objets à configurer : les modifications apportées via l'éditeur de l'objet sélectionné sont enregistrées dans la configuration active,</li>
  <li>Choix d'une configuration dans le gestionnaire de scénarios de calcul,</li>
  <li>Simulation.</li>
</ul>
<h2>Création d'une configuration</h2>
<p>La création d'une configuration se fait avec les outils de QGIS :</p>
<ul>
  <li>Ouvrir la table des attributs de la couche “Configuration” présente dans le groupe de couches “Paramétrages”.</li>
  <li>Rendre la couche modifiable si elle ne l'est pas.</li>
  <li>Ajouter une entité avec le bouton prévu à cet effet.</li>
</ul>
<h2>Activation d'une configuration</h2>
<p>Pour que les modifications que vous apportez aux objets concernent la configuration, il est nécessaire de l'activer dans la barre d'outil, menu déroulant “Configuration”.</p>
<p>Si aucune configuration n'existe ou n'est sélectionné, <strong>Défaut</strong> apparait dans le menu déroulant.</p>
<h2>Édition des objets dans la configuration</h2>
<p>Une fois la configuration sélectionnée, les modifications de paramétrage des objets se font de la même façon que pour la configuration par défaut, avec l'outil d'édition de QGIS.</p>
<p>Quelques remarques d'ordre pratique :</p>
<ul>
  <li>La couche “configuré” permet de visualiser sur la carte les éléments configurés dans la configuration active (petite étoile sur l'élément).</li>
  <li>La table attributaire de cette couche permet de visualiser le contenu des modifications dans les configurations et d'en supprimer si besoin. Attention toutefois à ne pas en ajouter “à la main” dans cette table mais à la créer en éditant les objets.</li>
</ul>
<h2>Choix d'une configuration pour le calcul</h2>
<p>Pour choisir une configuration dans un scénario de calcul, ouvrir le gestionnaire de scénario (<code>Express'eau → Scénarios</code>), choisir le scénario et sélectionner l'onglet <code>Régulation et configurations</code>.</p>
<p>Dans cet onglet apparait la liste des configurations disponibles. Cliquez sur + ou - pour ajouter ou supprimer des configurations au scénario.</p>
<p>Pour modifier l'ordre des configurations, cliquer sur les flèches haut et bas. A noter que l'ordre de prise en compte des configuration se fait de bas en haut (ce qui veux dire que si un même objet est configuré dans deux configurations sélectionnées, la configuration la plus haute dans la liste “écrase” celle du dessous).</p>
<figure class="image"><img src="/param_scn_config.png"></figure>
<blockquote>
  <p>Attention, les configurations sont à utiliser avec précaution en cas de démarrage à chaud : en effet, les seules configurations appliquées sont les configurations du scénario d'initialisation. On ne peut pas faire un démarrage à chaud avec une ou des configurations différentes de celles du scénario d'initialisation.</p>
</blockquote>
