<!--
title: Construction d'un modèle
description: 
published: true
date: 2024-09-17T15:51:40.905Z
tags: 
editor: ckeditor
dateCreated: 2024-09-17T14:22:00.189Z
-->

<h1>Procédure de construction d'un modèle</h1>
<h2>Ordre d'import ou de création des éléments</h2>
<p>Avant toute étape d’import dans express’eau, il faut avoir créé au moins un modèle. En effet, les éléments de réseaux doivent appartenir à un modèle.</p>
<p><strong><u>Bon à savoir</u></strong>&nbsp;: Si vous voulez à termes plusieurs modèles, rien ne vous empêche d’importer tous vos éléments dans un seul modèle pour ensuite les répartir dans des modèles séparés (via le calculateur de champs de QGIS sur le champs “model” des neuds à déplacer. Les liaisons se déplaceront avec si elles ne se retrouvent pas “à cheval” sur deux modèles)</p>
<p>L’import dans expresseau se fait dans l’ordre suivant&nbsp;:</p>
<ul>
  <li>Import ou création des nœuds</li>
  <li>Import ou création des réservoirs (ou transformation de certains nœuds en réservoir)</li>
  <li>Import ou création des canalisations</li>
  <li>Import ou création des liaisons (vannes, pompes, etc.)</li>
  <li>Import ou création des points de consommation</li>
  <li>Import ou création des secteurs de consommation</li>
  <li>Création des courbe de modulation</li>
</ul>
<h2>Méthode d'import</h2>
<p>De manière générale, pour importer des éléments, il suffit de faire un copier-coller de la couche source vers la couche expresseau.</p>
<p>Il y a cependant quelques conditions à respecter :</p>
<ul>
  <li>Les intitulés des champs doivent correspondre à ceux de la base de données Express’eau,</li>
  <li>Le type de donnée doit être respecté.</li>
</ul>
<p>Pour savoir comment respecter ces conditions, il faut double-cliquer sur la couche cible d'express'eau puis sur le menu “Champs” .</p>
<p>Par exemple, pour la couche user_node :</p>
<figure class="image image_resized" style="width:49.47%;"><img src="/user_node_champs.png"></figure>
<p>&nbsp;</p>
<h1>Méthodologie détaillée pour la construction d'un modèle</h1>
<p>La méthodologie présentée ici est valable pour un SIG respectant certains prérequis (mais reste valable pour les autres difficultés souvent identifiées)</p>
<p>Les prérequis sont les suivants&nbsp;:</p>
<ul>
  <li>Couches SIG correctement géo-référencées</li>
  <li>Couches dédiées à un seul type d’objet (par exemple les canalisations, vannes, pompes ont chacune leur couche dédiées)</li>
  <li>Base de données abonnés dans valeurs négatives</li>
  <li>…</li>
</ul>
<p>Cependant, cette méthodologie est valable pour les cas où le SIG n'est pas “tout prêt” à l'import. En effet, nous allons voir comment faire quand nous disposons d'une couche des canalisations, pas forcément bien jointives, pour créer une couche de noeud et une couche de canalisations à importer.</p>
<h2>Création de la couche des canalisations</h2>
<p>Bien que l'on importe la couche des nœuds en premier, pour la créer, nous avons besoin d'une couche de canalisations bien jointives.</p>
<p>Dans QGIS, vous pouvez rendre jointives les canalisations en utilisant l'outil <strong>"Raccorder des géométries à une couche"</strong></p>
<p><strong>Accéder à l'outil d'extraction de valeurs de raster</strong> :</p>
<ul>
  <li>Allez dans Traitement &gt; Boîte à outils &gt; Tapez <strong>"Raccorder des géométries à une couche"</strong></li>
</ul>
<p><strong>Paramétrer et lancer de l'outil :</strong></p>
<ul>
  <li><strong>Couche à raccorder</strong> : Sélectionnez la couche de canalisations.</li>
  <li><strong>Couche de référence</strong> : Si vous voulez que les extrémités se raccordent à elles-mêmes (c'est-à-dire que les lignes se fusionnent entre elles), sélectionnez la même couche de canalisations.</li>
  <li><strong>Tolérance de raccordement</strong> : Définissez une distance de tolérance en fonction de la distance maximale que vous considérez acceptable pour que les extrémités des lignes se raccordent. Par exemple, 0.5 ou 1 mètre, selon votre précision géométrique.</li>
  <li>Une nouvelle couche sera créée où les lignes proches l'une de l'autre (dans la limite de la tolérance définie) seront raccordées, fusionnant ainsi les extrémités.</li>
</ul>
<p>Une fois la couche créé, elle est importable par copier-coller <u>après avoir importer les nœuds</u>.</p>
<h2>Création de la couche des nœuds</h2>
<p>Le principe est d’utiliser les extrémités des canalisations pour créer les nœuds, avec la contraintes de ne pas créer de doublons.</p>
<p>Plusieurs techniques sont possibles, aucune n'est parfaite et il y a toujours un nettoyage à faire :</p>
<ul>
  <li>créer les champs Xam, Yam, Xav, Yav dans la couches canalisations puis les remplir avec la calculatrice de champs puis ensuite passer sous Excel pour construire un csv d'import avec tous les noeuds et sans doublon.</li>
  <li>créer une couche temporaire de canalisation au format ligne (et non polyligne) et utiliser Vecteur-&gt;Outil de géométrie-&gt;Extraire les sommets, puis supprimer les doublons.</li>
  <li>Autre méthode…</li>
</ul>
<h2>Attribution d'une cote altimétrique aux nœuds</h2>
<p>Pour appliquer une donnée topo à chacun des nœuds, il est nécessaire d’avoir des données de ce type à notre disposition (semi de point, MNT, LIDAR, etc.).</p>
<p>Il est possible de récupérer la BDALTI de l’IGN, qui fournit, par département, un MNT de précision 25m.</p>
<p style="text-align:center;"><i>https://geoservices.ign.fr/bdalti</i></p>
<p>Chargez le MNT dans QGIS. Assurez-vous que les systèmes de coordonnées de la couche de points et du MNT sont compatibles (même projection).</p>
<p>Dans QGIS, vous pouvez ensuite renseigner l'altitude des points d'une couche vectorielle à partir d'un Modèle Numérique de Terrain (MNT) en utilisant l'outil "Prélèvement de valeurs de raster vers ponctuels" intégré à la boîte à outils de traitement.&nbsp;</p>
<ol>
  <li><strong>Accéder à l'outil d'extraction de valeurs de raster</strong> :<ul>
      <li>Allez dans Traitement &gt; Boîte à outils.</li>
      <li>Dans “Analyse raster” lancer l’outil “Prélèvement de valeurs de raster vers ponctuels”</li>
    </ul>
  </li>
  <li><strong>Configurer et lancer l'outil</strong> :<ul>
      <li><strong>Couche de points en entrée</strong> : Sélectionnez la couche des nœuds.</li>
      <li><strong>Raster en entrée (MNT)</strong> : Sélectionnez votre MNT contenant les données d'altitude.</li>
      <li><strong>Nom du champ</strong> : Spécifiez le nom du champ qui sera ajouté à la couche de points pour contenir les valeurs d'altitude.</li>
      <li>Cliquez sur Exécuter.</li>
      <li>Une nouvelle couche sera générée avec un champ supplémentaire contenant les valeurs d'altitude extraites du MNT.</li>
    </ul>
  </li>
  <li><strong>Sauvegarder la couche résultante</strong> (facultatif) :<ul>
      <li>Si vous souhaitez sauvegarder la couche résultante avec les altitudes, faites un clic droit sur la couche nouvellement générée dans la table des matières de QGIS, puis choisissez Exporter &gt; Enregistrer les entités sous....</li>
    </ul>
  </li>
</ol>
<p><strong>Remarques supplémentaires :</strong></p>
<p>Si vous souhaitez modifier directement la couche originale, vous pouvez ensuite fusionner le champ "altitude" avec la couche de points d'origine.</p>
<p>&nbsp;</p>
<p>Une fois la couche des nœuds créé, elle est importable par copier-coller.</p>
<h2>Import des ouvrages</h2>
<p>On entend par «&nbsp;ouvrages&nbsp;», tout type de vannes, pompes, clapet, etc.</p>
<p>NB&nbsp;: En générale on ne représente pas les vannes de réseaux mais seulement les vannes régulées.</p>
<p>La difficulté est que les vannes et pompes sont souvent dans une couche de points dans le SIG, alors que dans un modèle, ce sont des liaisons. Il faut alors modifier les canas et ajouter des nœuds supplémentaires, pour intégrer les liaisons vannes ou pompes. Il arrivent aussi que ces éléments soient dans la couche des canalisations avec un attribut qui précise que c’est une vanne ou une pompe. Dans ce cas, il suffira remplacer les tronçons par le bon élément.</p>
<p>Si les éléments sont en faible quantité, il est préférable de les créer à la main, dans la mesure où il faut de toutes façons les paramétrer et que toutes les informations requises ne sont pas dans le SIG.</p>
<p>Sinon, il faut écrire un requête SQL.</p>
<h2>Import des consommations</h2>
<p>Généralement, les consommations sont disponibles dans des fichiers avec la consommation annuelle est une adresse. Il faut alors créer une couche avec les points de consommation pour les importer.</p>
<p>Il existe plusieurs extension pour géoréférencer des adresses, par exemple MMQGIS ou QBANO.</p>
<p>Une fois la couche créé, elle est importable par copier-coller.</p>
<h2>Import des hydrants</h2>
<p>Même principe que pour les points de consommation si on dispose d'un numéro d'hydrant et d'une adresse.</p>
<p>Une fois la couche créé, elle est importable par copier-coller.</p>
<h1>Conclusion</h1>
<p>Une fois tous ces prétraitements, il peut subsister des erreurs dans les couches SIG. Il n'est pas possible d'être exhaustifs ici sur toutes les erreurs rencontrées.</p>
<p>Néanmoins, si un import par copier-coller ne fonctionne pas, n'hésitez pas à lire le message d'erreur qui peut vous aider à trouver la source de l'erreur.</p>
<p>&nbsp;</p>
<p><strong>Bonne construction !</strong></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
