<!--
title: Gestion de projet et gestion des modèles
description: 
published: true
date: 2023-10-05T14:22:50.877Z
tags: 
editor: ckeditor
dateCreated: 2021-05-18T15:28:25.140Z
-->

<h1>Notion de projet et de modèle</h1>
<p>Un modèle correspond à la description, par le biais d'objets de modélisation spécifiques, du territoire à modéliser.<br>Un projet appelle <strong>un ou plusieurs modèles</strong> et contient les paramètres généraux non liés à un seul modèle.&nbsp;</p>
<p>Le pilotage des calculs se fait au niveau du projet.</p>
<p>Les données associées à chaque projet et chaque modèle sont structurées en tables dans la base de données sous-jacente. A chaque projet correspond une base de données, structurée en différents schémas :</p>
<ul>
  <li>un schéma par modèle,</li>
  <li>un schéma “project” regroupant les tables de gestion du projet, communes à tous les modèles hydrauliques du projet. Ce sont des tables généralement alphanumériques décrivant des données non géographiques telles que :<ul>
      <li>le paramétrage des scénarios de consommation,</li>
      <li>le paramétrage des scénarios de calcul,</li>
      <li>le paramétrages des alarmes,</li>
      <li>les paramètres d’exploitation de résultats,</li>
      <li>etc.</li>
    </ul>
  </li>
</ul>
<p>les schémas ci-dessous illustrent les correspondance entre un système hydraulique et la base de données sous-jacente :</p>
<figure class="image"><img src="/projet_modeles.png"></figure>
<p>A noter que les modèles peuvent être connectés entre eux lors du calcul (via l'élément “model_connexion”)</p>
<h1>Gestion des projets</h1>
<p>&nbsp;</p>
<h2>Création d'un projet</h2>
<p>La création d'un nouveau projet se fait via les menus suivants :</p>
<ul>
  <li><code>Expresseau → Nouveau projet</code></li>
  <li><code>Expresseau → Gérer les projets </code>puis bouton <code>Nouveau projet</code></li>
</ul>
<p>La fenêtre de création s'affiche alors :</p>
<figure class="image"><img src="/nouveau_projet.png"></figure>
<p>Lors de la création d'un nouveau projet, l'utilisateur défini :</p>
<ul>
  <li>Un nom (sans majuscule ni espace),</li>
  <li>Un système de projection, qui sera appliqué à l'ensemble des modèles constituant le projet,</li>
  <li>Un <strong>répertoire de travail</strong> dans lequel seront notamment créé les fichiers de résultats de calcul. Ce chemin est également utilisé comme <strong>chemin relatif pour les fichiers externes</strong> appelés lors du lancement des calculs. Ce répertoire doit être situé sur le même disque que celui où sont lancés les calculs</li>
</ul>
<p>L'application crée les tables associées au projet dans la base de données et charge les vues graphiques associées :</p>
<figure class="image"><img src="/couches_fr.png"></figure>
<p>A ce stade, aucun modèle n'est associé au projet. Ils sont créés dans un second temps.</p>
<p>Un répertoire portant le nom du projet est créé dans le <strong>répertoire de travail</strong> ainsi qu'un fichier “projet.qgs” qui sera appelé lors de l'ouverture d'un projet.</p>
<p>Le fichier projet.qgs est mis à jour lors de l'enregistrement du projet sous QGIS, les mises en forme spécifiques ainsi que tables complémentaires appelées par l'utilisateur sont enregistrées et chargées à la prochaine ouverture du projet.</p>
<blockquote>
  <p>Si l'utilisateur souhaite choisir un autre répertoire que le .expresseau, un fichier &nbsp;<strong>nom_du_projet.path</strong> &nbsp;est crée dans le .expresseau. Il contient juste le chemin vers le vrai répertoire projet.</p>
  <p>Il est également possible de déplacer un projet en créer le .path à la main.</p>
</blockquote>
<h2>Ouverture d'un projet existant</h2>
<p>Pour ouvrir un projet existant, utiliser le menu <code>Expresseau → Gérer les projets.</code></p>
<p>Sélectionner le projet puis cliquer sur <code>Ouvrir le projet</code>.</p>
<p>L'ouverture d'un projet entraine le chargement de l'ensemble des tables associées et des outils de création et d'exploitation des modèles dans l'interface.</p>
<h2>Import/export d'un projet</h2>
<h3>Import/export simple</h3>
<p>Les fonctionnalités d'import / export permettent de sauvegarder et d'échanger un projet via un fichier .sql unique, contenant la structure et le contenu de la base de données associée.</p>
<p>Ces fonctionnalités sont accessibles via<i> </i><code>Expresseau → Gérer les projets</code> via le bloc de boutons sur la droite : <code>Exporter le projet</code> et <code>Importer un projet</code></p>
<p>Lors de l'export, l'utilisateur sélectionne le répertoire dans lequel le fichier *.sql sera créé.</p>
<p>Lors de l'import, l'utilisateur sélectionne le fichier *.sql à importer, et renseigne le nom du projet à créer (qui peut différer de celui du fichier importé) ainsi que le <strong>répertoire de travail</strong>.</p>
<blockquote>
  <p>Si dans le modèle source des fichiers externes appelés par le gestionnaire de scénario étaient situés dans un sous répertoire du <strong>répertoire de travail</strong>, ces fichiers seront recherchés par défaut dans le même sous répertoire du <strong>répertoire de travail</strong> défini lors de l'import.</p>
</blockquote>
<h3>Import/export avec données associées</h3>
<p>A l'heure actuelle, les données associées ne sont pas exportées/importées.</p>
<p>Il est conseillé de stocker ses données dans le répertoire “data” du projet .expresseau/monprojet et de zippé ces données pour les transmettre.</p>
<h2>Mise à jour d'un projet existant</h2>
<p>La mise à jour du plugin peut nécessiter la modification de la structure de la base de données sous-jacente. Les projets présentant une structure de base de données non compatible avec la version du plugin installée ont leur numéro de version indiqué en rouge dans le gestionnaire de projet, et ne peuvent être ouverts.&nbsp;</p>
<p>La fonction de mise à jour permet de mettre à jour la structure de la base de données de ces projets afin de les rendre compatibles avec le plugin installé et de les ouvrir.</p>
<p>Cette fonction est accessible via<i> </i><code>Express'eau → Gérer les projets →&nbsp;Mettre à jour le projet</code></p>
<blockquote>
  <p>La mise à jour de la base de données est irréversible. Si besoin, exporter préalablement le modèle pour en conserver une sauvegarde dans la version antérieure.</p>
</blockquote>
<h2>Copie d'un projet existant</h2>
<p><code>Express'eau → Gérer les projets →&nbsp;Dupliquer le projet </code>permet de dupliquer un projet, sous un autre nom.</p>
<h1>Gestion des modèles</h1>
<p>Les fonctions de gestion des modèles sont disponibles lorsqu'un projet est ouvert.</p>
<figure class="image"><img src="/menu_modeles_fr.png"></figure>
<ul>
  <li><code>Définir le modèle courant</code> : définition du modèle actif, pour la création des objets de modélisation (également disponible via la barre d'outils),</li>
  <li><code>Ajouter un modèle</code> : création et ajout d'un nouveau modèle au projet actif; l'application crée le schéma correspondant dans la base de données et charge les tables associées dans l'interface,</li>
  <li><code>Supprimer le modèle courant</code> : suppression du modèle actif.</li>
</ul>
<p>D'autres options sont disponibles dans le manager de projet :</p>
<ul>
  <li><code>Importer un model</code> : import d'un modèle depuis un export sql d'un modèle ou d'un projet ou depuis un fichier EPANET (pour l'import de modèle EPANET, consulter cette <a href="https://xpresseau.hydra-software.net/fr/passerelleEPANET">page dédiée</a>)</li>
  <li><code>Exporter un model</code> : export d'un modèle au format sql ou vers un fichier EPANET.</li>
</ul>
<blockquote>
  <p><strong>Attention :</strong></p>
  <ul>
    <li>Un maximum de <strong>20 modèles distincts</strong> peut être créé dans un même projet (Attention : la base de données ne limite pas le nombre de modèles à 20 modèles mais les simulations échoueront s'il y a plus de 20 modèles dans la base)</li>
    <li>Les modèles ont le même <strong>système de projection</strong> que le projet; il est impossible d'importer un modèle défini dans un autre système de projection que celui du projet.</li>
  </ul>
</blockquote>
<p>Les différents outils de construction et d'exploitation des modèles sont chargés lors de la création du premier modèle associé au projet ouvert.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
