<!--
title: Manuel utilisateur d'Express'Eau
description: 
published: true
date: 2022-07-03T15:02:16.183Z
tags: 
editor: ckeditor
dateCreated: 2021-05-18T15:25:51.814Z
-->

<figure class="image image_resized" style="width:52.32%;"><img src="/logo_express-eau_h.png"></figure>
<h1>Introduction</h1>
<p>Ce paragraphe présente le logiciel <strong>Express'eau</strong>.</p>
<p>Une plaquette est disponible ici : <a href="/plaquette_express'eau.pdf">/plaquette_express'eau.pdf</a></p>
<h2>Qu'est ce qu' Express'Eau ?</h2>
<p>Express'eau est une plateforme de modélisation hydraulique des écoulements en charge permettant :</p>
<ul>
  <li>De faire appel dans un même modèle aux fonctionnalités propres aux réseaux d’eau potable ou autres réseaux en charge…</li>
  <li>De disposer de fonctionnalités ergonomiques, fluides et intuitives pour la construction et l’exploitation des modèles,</li>
  <li>D’être totalement compatible avec les standards du monde SIG, aussi bien en entrée (construction des modèles) qu’en sortie (exploitation des résultats),</li>
  <li>De s’intégrer dans un environnement logiciel libre afin d’offrir la possibilité aux utilisateurs de développer des applications métier spécifiques autour cette plateforme.</li>
</ul>
<p>Cette plateforme permet de piloter un moteur de calcul robuste et performant, fruit de 30 ans de développement et d'exploitation, capable de traiter l’ensemble des domaines suivants ainsi que leurs interactions :</p>
<ul>
  <li>modélisation des écoulements en charge permanents</li>
  <li>modélisation des écoulements en charge graduellement variés</li>
  <li>modélisation des phénomènes transitoires rapides (coup de bélier)</li>
  <li>modélisation de la qualité de l'eau</li>
</ul>
<h2>Quelle est la nature d'Express'Eau ?</h2>
<p>L’interface se présente sous forme d’un plugin de QGIS, SIG (système d’information géographique) libre, multi plateforme, publié sous licence GPL, dialoguant avec une base de données PostgreSQL. Les objets de modélisation sont décrits et stockés dans cette base de données, et affichés dans QGIS sous forme de couches.</p>
<p>QGIS dans ce contexte est utilisé comme pré et post-processeur graphique, l’ensemble de ses fonctions restant accessibles à l’utilisateur.</p>
<p>Les “formulaires d'attributs d'entités" de QGIS, qui sont des formulaires d'édition, ont été agencés pour les spécificités des objets d'Express'eau. Ils permettent de créer ces objets et d’éditer leurs caractéristiques. Il n'y a donc pas de formulaire d'édition spécifique d'Express'eau.</p>
<p>Le plugin Express'eau se compose :</p>
<ul>
  <li>d'une icone dans la barre de menu qui rend accessible le menu déroulant d'Express'eau</li>
  <li>d'une barre d'outils qui s'ajoute à celles de QGIS et des autres plugins installés.</li>
</ul>
<p>L’interface permet, avec les outils de QGIS, de créer un modèle à la main ou par import de tables, de paramétrer les scénarios de consommation, de paramétrer les scénarios&nbsp;de calcul, de lancer les calculs et d’effectuer les traitements des résultats : profils en long de lignes d’eau et de débits, hydrogrammes / pression ou charge sur les nœuds de calcul, cartographie des pressions, des débits et des vitesses d’écoulement…</p>
<h1>Architecture et environnement de développement</h1>
<p>L’application regroupe deux parties totalement distinctes :</p>
<ul>
  <li>L’interface utilisateur,</li>
  <li>Le moteur de calcul numérique.</li>
</ul>
<h2>L'interface utilisateur</h2>
<p>L’application est développée dans l’environnement QGIS, logiciel SIG (système d’information géographique) libre, multi plateforme.</p>
<p>L’architecture des modèles ainsi que l’ensemble des paramètres de calcul et données d’entrée et de sortie sont stockés dans une base de donnée PostgreSQL et son extension spatiale PostGIS (également open source) dialoguant directement avec QGIS. Ces données sont stockées dans des tables interconnectées selon un schéma conceptuel strict qui garantit la robustesse de l’application, facilite son évolution et les couplages vers des bases de données d’applications liées.</p>
<p>Les capacité de la base de donnée (PostgreSQL) ont été utilisées au maximum pour intégrer l'intelligence métier au plus près des données. Grâce à des vues couplées à des trigger instead-off, la base présente une véritable API (base de donnée épaisse): le maillage, le calcul ou la lecture des résultats sont de fonctions ajoutées à la base.</p>
<p>Cette approche permet de minimiser les aller-retour entre le code métier et la base de données et de garantir la parfaite intégrité des transactions. L’intégration dans la base de données des contrôles d’intégrité des données saisies permet également de gérer la qualité des données saisies le plus en amont possible.</p>
<p>Cette structuration permet de mieux capitaliser l'intelligence métier, de garantir l'intégrité des données en entrée du code de calcul, et ouvre la porte à d'autre clients que QGIS pour interagir avec le modèle.</p>
<p>Le plug-in regroupe un ensemble de fichiers scripts en langages Python et SQL, installés sur l’ordinateur client.</p>
<p>La base de données peut être implantée sur un serveur distant et accessible via une architecture client-serveur, ou localement sur le poste utilisateur accueillant le plug-in.</p>
<h2>Le moteur de calcul</h2>
<p>Le moteur de calcul est totalement indépendant de l’interface et de l’application QGIS. Il est développé en langages compilés C et Fortran et se compose de fichiers exécutables au format binaire .exe.<br>Une simulation est lancée via le plug-in de l'interface, qui génère des fichiers d’exports des données tabulaires de la base de données sous-jacente et lance les exécutables en séquence.<br>Après calcul, les exécutables produisent des fichiers résultats au format binaire et CSV qui sont exploités par les différents outils d’exploitation du plug-in ou des programmes externes spécifiques.</p>
<p>La formulation sous-jacente du moteur de calcul Express'Eau est fondée sur le concept de discrétisation des équations suivant le schéma implicite de Preismann.</p>
<p>Cette conceptualisation de la modélisation hydraulique constitue le socle sur lequel est fondé le Modèle Conceptuel de Données présenté au chapitre suivant.</p>
<h2>Intérêt et contraintes de cette organisation logicielle</h2>
<p>Le caractère open source des différents composants de l’IHM les rend facilement accessibles et modifiables, et facilite les collaborations et synergies avec nos partenaires/clients actuels et futurs autour de cette nouvelle plateforme. L’application s’intègre ainsi naturellement dans un écosystème dynamique comportant des acteurs du monde de l’ingénierie de l’eau, des SIG, du numérique et d’internet.</p>
<p>Le moteur de calcul d’express'eau reste un outil propriétaire, il échappe aux règles de contamination de la réglementation GPL, il se comporte comme un composant exploité en mode esclave, sans interférence directe avec l’utilisateur.</p>
<p>Les fonctionnalités du plugin sont quant à elles très générales et permettent d’envisager dans une phase ultérieure de piloter des moteurs de calculs autres qu’express'eau, du moins ceux disponibles en open source.</p>
