<!--
title: Installation
description: 
published: true
date: 2024-03-13T10:24:19.308Z
tags: 
editor: ckeditor
dateCreated: 2021-05-18T14:38:16.326Z
-->

<h1>Première installation</h1>
<h2>En un clin d'œil</h2>
<p>Le plugin &nbsp;<strong>express'eau </strong>s’ajoute à une installation existante de QGIS et s’appuie sur une base de données relationnelle (hébergée sous PostgreSQL). La procédure complète se déroule ainsi :</p>
<ul>
  <li>Installer QGIS3 (minimum version 3.22) : &nbsp;<a href="https://qgis.org/downloads/">https://qgis.org/downloads/</a> ou utilisez une version déjà installée si elle est postérieure à la version 3.22.</li>
  <li>Faire une demande de licence sur<a href="https://licence.hydra-software.net/expresseau/"> https://licence.hydra-software.net/expresseau/</a>, le téléchargement du set-up se déclenche automatiquement.</li>
  <li>Lancer le set-up téléchargé lors de la demande de licence.</li>
  <li>Ouvrir QGIS puis ouvrir le gestionnaire d'extensions : <code>Extensions → Installer et gérer les extensions</code>.</li>
  <li>Dans l'item <code>paramètres</code>, volet <code>dépôts d'extensions </code>cliquer sur <code>ajouter</code>et paramétrer le dépôt comme suit avec l'URL suivante : <u>https://hydra-software.net/telechargement/expresseau.xml</u></li>
</ul>
<figure class="image"><img src="/depot_extension.png"></figure>
<ul>
  <li>Charger <strong>express'eau</strong> (dans “Non installées” ou “Toutes”, rechercher expresseau et cliquer sur <code>Installer</code>)</li>
  <li>Ouvrir avec un éditeur de texte le fichier<i> .pg_service.conf</i> qui se trouve dans <u>C:/Users/votrenom</u>. Assurer-vous que le fichier dispose d'un bloc <code>[expresseau]</code>. Si ce n'est pas le cas, copier-coller le bloc hydra et remplacer <code>[hydra]</code> par <code>[expresseau]</code>.</li>
</ul>
<blockquote>
  <p><i><mark class="pen-green"><strong>L'installation d'express'eau</strong> est terminée !</mark></i></p>
</blockquote>
<p>A noter que pour les installations standard de QGIS, le plugin est installé dans le répertoire suivant&nbsp;:</p>
<p><i><u>C:\Users\{user}\AppData\Roaming\QGIS\QGIS3\profiles\default\python\plugins\expresseau</u></i></p>
<p>Une fois l'installation d'<strong>express'eau</strong> finalisée, il vous faudra activer votre clé de licence : cette procédure est décrite au chapitre <a href="/Installation/licence">Licence</a>.</p>
<blockquote>
  <p><strong>Warnings</strong></p>
  <ul>
    <li>L'ensemble des composants interface est compatible Linux, mais le moteur de calcul n'est à ce jour compilé que pour Windows. Le setup ne fonctionne que sous Windows.</li>
    <li>L'installation ne peut se faire que sur un poste <strong>64 bits</strong>.</li>
    <li>Afin que le setup fonctionne correctement, QGIS doit être installé dans son répertoire par défaut. Si ce n'est pas le cas, vous devrez réaliser une installation manuelle.</li>
    <li>Enfin, <strong>si vous installez express'eau en tant qu'administrateur de la machine, pour un autre utilisateur</strong>, il vous faudra récupérer le fichier .pg<i>service.conf qui s'est installé dans <u>C:/Users/admin </u>(ou le télécharger</i><a href="/.pg_service.conf"><i> ici</i></a><i>) et le copier dans le répertoire <u>C:/Users/nom_utilisateur</u></i></li>
  </ul>
</blockquote>
<h1>Mise à jour du plugin</h1>
<p>Menu <code>Extensions → Installer/Gérer les extensions</code></p>
<p>Ensuite dans <code>“Installées”</code>, chercher <strong>express'eau</strong> puis cliquer sur <code>Mettre à jour l'extension</code>.</p>
<h1>Optimisation de l'installation</h1>
<h2>Paramétrage de QGIS</h2>
<h3>Rendu</h3>
<p>Afin d’accélérer le rafraîchissement des couches graphiques après déplacement ou zoom de la fenêtre d’affichage, cocher l’option ci-dessous dans le menu <code>Préférences → Options → Onglet Rendu</code> de QGIS :</p>
<figure class="image image_resized" style="width:47.44%;"><img src="https://wiki.hydra-software.net/installation/qgis_rendu_graphique.png"></figure>
<p>&nbsp;</p>
<h3>Nom par défaut des nouveaux éléments</h3>
<p>Afin que le nom par défaut des éléments proposé lors de la création soit pertinent, décocher “Réutiliser la dernière valeur attributaire saisie” dans le menu <code>Préférences → Options → Numérisation</code></p>
<p>Cela permet à <strong>express'eau</strong> d'incrémenter le n° de l'élément.</p>
<h1>Installation d'un serveur linux ubuntu/debian (modèles partagés)</h1>
<p>Configuration matérielle minimale:</p>
<ul>
  <li>CPU 2.90GHz</li>
  <li>RAM 4Go</li>
  <li>HDD 20Go&nbsp;</li>
</ul>
<p>Package à installer:</p>
<ul>
  <li>postgresql-13&nbsp;</li>
  <li>postgresql-13-pgrouting</li>
  <li>postgresql-13-pgrouting-scripts</li>
  <li>postgresql-13-postgis-3</li>
  <li>postgresql-13-postgis-3-scripts</li>
</ul>
<p>&nbsp;</p>
<pre><code class="language-plaintext">sudo apt install \
	postgresql-13 \
	postgresql-13-pgrouting \
	postgresql-13-pgrouting-scripts \
	postgresql-13-postgis-3 \
	postgresql-13-postgis-3-scripts</code></pre>
<p>&nbsp;</p>
<p>Les utilisateurs doivent être superuser postgresql pour pouvoir &nbsp;créer/mettre à jour des projet expresseau depuis QGIS (création de bases de données).&nbsp;</p>
<pre><code class="language-plaintext">sudo su - postgres
psql -c "create user utilisateur_postgres superuser password 'mot_de_passe_postgres';"
</code></pre>
<p>Une gestion des droit plus fine est possible en donnant aux utilisateurs des droits sur le schéma api d'une base de donnée expresseau.</p>
<p>Les utilisateurs souhaitant accéder au nouveau serveur doivent ajouter une section au fichier .pg_service.conf qui se trouve dans leur répertoire personnel.</p>
<pre><code class="language-plaintext">[expresseau]
host=127.0.0.1
port=5454
user=hydra
password=hydra

[nouveau_serveur]
host=adresse_ip_ou_nom_du_serveur
port=5432
user=utilisateur_postgres
password=mot_de_passe_postgres</code></pre>
<p>Le choix du serveur se fait ensuite dans QGIS, dans le gestionnaire de projets.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
