<!--
title: Les objets de modélisation
description: 
published: true
date: 2022-07-08T18:39:17.689Z
tags: 
editor: ckeditor
dateCreated: 2021-05-18T15:32:42.025Z
-->

<h1>Introduction</h1>
<p>Les objets de modélisation peuvent être distingués en deux groupes :</p>
<ul>
  <li>Les objets de modélisation propres au projet qui servent à schématiser les consommations : <i><strong>Water delivery point</strong></i> et <i><strong>Water delivery sector</strong></i></li>
  <li>Les objets de modélisation propres aux modèles qui servent à modéliser physiquement le réseau.</li>
</ul>
<h1>Schématisation des consommations</h1>
<p>Se référer à la page sur la <a href="/modelisation/conso">modélisation de la consommation</a>.</p>
<h1>Schématisation des réseaux sous pression</h1>
<p>Un réseau sous pression ne présente pas de difficultés de représentation topologique car il est parfaitement structuré par le réseau de canalisations qui le composent. Il est schématisé par un assemblage de liaisons bi nodales interconnectées par des nœuds de calculs. Les éléments constitutifs du réseau sont schématisés comme suit&nbsp;:</p>
<figure class="image image_resized" style="width:43.45%;"><img src="/shematisation.png"></figure>
<h2>Type d'objets d'un modèle</h2>
<p>Les objets de modélisation peuvent être regroupés selon 3 types :</p>
<ul>
  <li><strong>Les objets nodaux</strong> : ce sont les nœuds (couche <i><strong>User node</strong></i>) et les réservoirs (couche <i><strong>Reservoir</strong></i>). Par défaut tous les nœuds peuvent porter une consommation issues des <i><strong>Water delivery point</strong></i>. Ces éléments (nœuds et réservoirs) peuvent servir de point d'accroche pour les liaisons.</li>
  <li><strong>Les liaisons</strong> : ce sont éléments qui relient deux nœuds, &nbsp;un à chaque extrémité. On distingue deux groupes de liaisons&nbsp;:<ul>
      <li>Le tronçon de canalisation</li>
      <li>La singularité hydraulique&nbsp;: vanne, perte de charge, station de pompage, etc.</li>
    </ul>
  </li>
  <li><strong>Les singularités</strong> : ce sont les éléments qui “se posent” sur un nœud et ont un caractère “uninodal”, soit les conditions aux limites et certains ouvrages.</li>
</ul>
<h2>Variables calculées sur ces éléments</h2>
<p>A chaque élément nodal est associée la variable Z, c'est à dire la cote piézométrique, en mNGF.</p>
<p>Sur les liaisons, les variables de calcul associées à chaque liaison &nbsp;sont le débit entrant et le débit sortant à chaque extrémité. L’écoulement est compté positivement dans le sens nœud amont vers nœud aval.</p>
<p>Sur les singularités, le calcul est de la forme Q=f(Z) où Q est le débit sortant et Z la cote piézométrique. C'est le cas par exemple pour un point de consommation ou un ballon anti-bélier.</p>
<h1>Description des objets d'un modèle</h1>
<h2>Les objets nodaux</h2>
<p>Ce sont les nœuds (par défaut tous nœuds de consommation) et les réservoirs.</p>
<p>Dans le panneau des couches Express'eau, les deux couches sont rangées dans le groupe “<code>₪ Nodes</code>”</p>
<p><a href="/modelisation/Conso_Node">Objet Nœud : Table “User_Node”</a></p>
<p><a href="/modelisation/Reservoir_Node">Objet Réservoirs : Table “Reservoir_Node”</a></p>
<h2>Les liaisons</h2>
<p>Dans le panneau des couches Express'eau, des couches sont rangées dans le groupe “<code>₪ Links</code>”</p>
<p><a href="/modelisation/cana">Objet Canalisation Table “Pipe”</a></p>
<p><a href="https://xpresseau.hydra-software.net/modelisation/clapet">Objet&nbsp;Clapet anti-retour : Table&nbsp;“Check valve”</a></p>
<p><a href="/modelisation/vanne">Objet&nbsp;Vanne : Table&nbsp;“Valve”</a></p>
<p><a href="/modelisation/deltaH">Objet&nbsp;Perte de charge : Table&nbsp;“Headloss”</a></p>
<p><a href="/modelisation/regQ">Objet&nbsp;Régulateur de débit : Table&nbsp;“Flow_regulator”</a></p>
<p><a href="/modelisation/RegP">Objet&nbsp;Régulateur de Pression : Table&nbsp;“Pressure_regulator”</a></p>
<p><a href="/modelisation/pompe">Objet&nbsp;Pompe : Table&nbsp;“Pump”</a></p>
<h2>Les singularités</h2>
<p>Dans le panneau des couches Express'eau, ces couches sont rangées dans le groupe “<code>₪ Singularities</code>”.</p>
<p>On peut distinguer 2 types de singularités :</p>
<ul>
  <li>Les conditions aux limites</li>
  <li>Les objets de modélisation propres au régime transitoire rapidement varié</li>
</ul>
<p>&nbsp;</p>
<h4>Les conditions aux limites :</h4>
<p><a href="/modelisation/Z0">Objet Piézométrie imposée : Table&nbsp;“Imposed piezometry”</a></p>
<p><a href="/modelisation/raccord">Objet Raccord :&nbsp;Table “Network_Connection”</a></p>
<p><a href="/modelisation/chloration">Objet Injection : Flow_Injection</a></p>
<p>Objet qualité : Chlorine_Injection</p>
<p>&nbsp;</p>
<h4>Les singularités propres à la modélisation en régime transitoire rapidement variable :</h4>
<p><a href="/modelisation/cheminee">Objet Cheminée d'équilibre :&nbsp;Table&nbsp;“Surge_tank”</a></p>
<p><a href="/modelisation/ballon">Objet Ballon anti-bélier :&nbsp;Table&nbsp;“Accumulator”</a></p>
<p><a href="/modelisation/ventouse">Objet Ventouse :&nbsp;Table&nbsp;“Air_relief_valve”</a></p>
