<!--
title: Import de modèles EPANET
description: 
published: true
date: 2025-02-13T16:19:53.468Z
tags: 
editor: ckeditor
dateCreated: 2025-02-06T13:17:08.559Z
-->

<h1>1.Pas à pas pour un import depuis EPANET</h1>
<h2>a) Prérequis :</h2>
<p>Avant de procéder à l'import, il y a quelques prérequis et information à recueillir :</p>
<ul>
  <li><strong>Fichier EPANET au format .inp</strong> : Si vous ne disposez que du fichier EPANET .net, il vous faut l'ouvrir dans EPANET, puis faire <code>Fichier→Exporter→Réseau</code> et sauvegarder en .inp.</li>
  <li><strong>Encodage du fichier : </strong>En fonction des version d'EPANET ou de l'OS, l'encodage du fichier inp n'est pas le même. Pour le connaitre, ouvrir le fichier .inp dans <u>NotePad++</u> qui indique en bas à droite quel est l'encodage (dans la plupart des versions d'EPANET, l'encodage est de l'utf8 mais ce n'est pas toujours le cas)</li>
  <li><strong>Projection : </strong>Il vous faut connaitre le SRID de la projection du modèle EPANET. Il n'est pas renseigné dans le fichier EPANET ni même dans EPANET en ouvrant le modèle. Il faut donc déterminé soit-même cette projection. Pour celà, ouvrir le modèle EPANET et noter les coordonnées X et Y du modèle. A partir de ces coordonnées, vous pouvez retrouver la projection correspondante grâce au site suivant : <a href="https://geofree.fr/gf/projguess.asp">https://geofree.fr/gf/projguess.asp </a>Pour déterminer le SRID correspondant, se référer au tableau suivant qui liste les projections les plus couramment utilisées en France &nbsp;:</li>
</ul>
<figure class="table">
  <table style="border-bottom:none;border-left:none;border-right:none;border-top:none;">
    <tbody>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:290.35pt;">
          <p style="text-align:center;"><strong>Projection</strong></p>
        </td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt none windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:4.0cm;">
          <p style="text-align:center;"><strong>SRID (EPSG)</strong></p>
        </td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:290.35pt;">
          <p style="text-align:center;">Lambert 93</p>
        </td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:4.0cm;">
          <p style="text-align:center;">2154</p>
        </td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:290.35pt;">
          <p style="text-align:center;">Lambert CC42 (Zone 1 du 41°N au 43°N - Corse)</p>
        </td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:4.0cm;">
          <p style="text-align:center;">3942</p>
        </td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:290.35pt;">
          <p style="text-align:center;">Lambert CC43 (Zone 2 sud du 44°N)</p>
        </td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:4.0cm;">
          <p style="text-align:center;">3943</p>
        </td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:290.35pt;">
          <p style="text-align:center;">Lambert CC44 (Zone 3 du 43°N au 45°N)</p>
        </td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:4.0cm;">
          <p style="text-align:center;">3944</p>
        </td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:290.35pt;">
          <p style="text-align:center;">Lambert CC45 (Zone 4 du 44°N au 46°N)</p>
        </td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:4.0cm;">
          <p style="text-align:center;">3945</p>
        </td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:290.35pt;">
          <p style="text-align:center;">Lambert CC46 (Zone 5 du 45°N au 47°N)</p>
        </td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:4.0cm;">
          <p style="text-align:center;">3946</p>
        </td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:290.35pt;">
          <p style="text-align:center;">Lambert CC47 (Zone 6 du 46°N au 48°N</p>
        </td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:4.0cm;">
          <p style="text-align:center;">3947</p>
        </td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:290.35pt;">
          <p style="text-align:center;">Lambert CC48 (Zone 7 du 47°N au 49°N)</p>
        </td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:4.0cm;">
          <p style="text-align:center;">3948</p>
        </td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:290.35pt;">
          <p style="text-align:center;">Lambert CC49 (Zone 8 du 48°N au 50°N)</p>
        </td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:4.0cm;">
          <p style="text-align:center;">3949</p>
        </td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:290.35pt;">
          <p style="text-align:center;">Lambert CC50 (Zone 9 au nord du 49°N)</p>
        </td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:4.0cm;">
          <p style="text-align:center;">3950</p>
        </td>
      </tr>
    </tbody>
  </table>
</figure>
<p>&nbsp;</p>
<h2>b) Pas à pas :</h2>
<p>Un modèle peut être importé soit dans un projet vierge, soit dans un projet qui contient déjà des modèles.</p>
<ul>
  <li>Aller dans le manager de projet : <code>Express'eau → Gérer les projets</code></li>
  <li>Cliquer sur <code>Importer un modèle</code>. Une fenêtre de sélection de fichier s'ouvre.</li>
  <li>Choisir l'extension *.inp.</li>
</ul>
<p>La fenêtre de paramétrage de l'import s'ouvre. Les paramètres à renseigner sont les suivants :</p>
<ul>
  <li><strong>Projet </strong>: C'est le nom du projet dans lequel importer le modèle. Choisissez un projet existant ou créez un nouveau projet. <i>Le nom ne doit comporter ni espace, ni caractère spécial, ni accent et ne doit pas commencer par un chiffre et ne pas dépasser 24 caractères.</i></li>
  <li><strong>SRID du projet</strong> : C'est le SRID du projet de destination. <i>Ce SRID n'est modifiable que pour l'import dans un nouveau projet.</i></li>
  <li><strong>Répertoire de travail</strong> : Ne modifier que dans des cas particulier.</li>
  <li><strong>Modèle</strong> : nom du modèle. <i>Le nom ne doit pas déjà exister dans la liste des modèles existant dans le projet, ne doit comporter ni espace, ni caractère spécial, ni accent et ne doit pas commencer par un chiffre et ne pas dépasser 24 caractères.</i></li>
  <li><strong>Fichier INP</strong> : Chemin vers le fichier INP.</li>
  <li><strong>Encodage du fichier EPANET</strong> : C'est l'encodage du fichier texte.</li>
  <li><strong>SRID du modèle EPANET</strong> : C'est le SRID correspondant à la projection du modèle EPANET.</li>
</ul>
<p>Une fois que tout est paramétré, lancer l'import.</p>
<p>L’import se déroule type d’élément par type d’élément.</p>
<p>Les warnings apparaissent en <mark class="pen-red">orange</mark>. Un warning est une alerte sur le fait que l’import a modifié des éléments pour que la conversion soit rendue possible.</p>
<p>Les erreurs (problèmes bloquant) apparaissent en<mark class="pen-red"> rouge</mark>. Les problèmes bloquant empêche l’import d’être complet. Il peut s’agir d’une syntaxe du modèle EPANET jamais rencontrée. Dans ces cas, le modèle n'est pas importé complètement. Pour ces problèmes, merci de contacter le support en envoyant votre fichier inp. ATTENTION : lors d'une erreur, le modèle a tout de même été crée et partiellement importé. Il est préférable de le supprimer ou de choisir un nouveau projet si vous refaites un import par la suite.</p>
<h1>2. EPANET →&nbsp;Express'eau : description détaillée de la traduction</h1>
<h2>a) Import des objets par la passerelle</h2>
<p>A quelques exceptions près pour les objets régulés, la transposition suit le tableau de correspondance.</p>
<p>Certaines configurations de réseau sont cependant modifiées pour respecter les restrictions demandées par express'eau :</p>
<ul>
  <li>Express'eau nécessite qu'uniquement des canalisations soient connectées à un réservoir. Ainsi, si des pompes ou vannes sont connectées directement à un TANK dans EPANET, la transposition ajoutera des canalisations fictives.</li>
  <li>Dans express'eau, les clapets sont des éléments à part entière alors qu'ils sont intégrés à une canalisation dans EPANET. Ainsi, la passerelle scinde la canalisation en deux et crée un clapet au milieu.</li>
</ul>
<h2>b) Import de la consommation et de la demande par la passerelle</h2>
<p>Dans EPANET, il peut y avoir plusieurs catégories de demande sur un même nœud. Chaque catégorie de demande peut avoir sa propre courbe de modulation. Dans express'eau, il n'y a qu'une seule courbe de modulation par nœud. Pour autant, la plupart des modèles sont bien traduits et la transposition est la suivante:</p>
<ul>
  <li>les demandes qui ont une courbe de modulation constante sont traduites par un Q0 dans le nœud (attention, si ce sont des fuites qui ont été modélisées ainsi, à ne pas modéliser deux fois ces fuites en ajoutant un rendement différent de 1 dans les secteurs de consommation d'express'eau)</li>
  <li>les demandes avec des courbes de modulation non constantes sont additionnées par courbe de modulation identiques, puis une fois cette agrégation effectuée, il y a création de points de consommation comme nuit :<ol>
      <li>la première demande est traduite par un point de consommation sur le nœud et la courbe de modulation est traduite et allouée au nœud.</li>
      <li>la seconde demande est traduite par un point de consommation de type industriel sur le nœud et la courbe de modulation est traduite et allouée au nœud.</li>
      <li>les éventuelles demandes suivantes ne sont pas traduites et un warning est affiché. Pour les modéliser, il faudra ajouter des nœuds fictifs au modèle puis des points de consommations (rassurez-vous, il est rare d'en arriver là car on trouve rarement plus de deux courbes de modulation différentes par nœuds dans les modèles EPANET).</li>
    </ol>
  </li>
</ul>
<blockquote>
  <p>Après import, il faudra tracer un grand secteur de consommation autour du modèle ou autant de secteurs de consommation souhaités. Tous les nœuds portant des points de consommation doivent appartenir à un secteur de consommation.</p>
</blockquote>
<h2>c) Import de la régulation par la passerelle</h2>
<p>La régulation dans EPANET prend deux formes :&nbsp;</p>
<ul>
  <li>Les CONTROLS : chaque contrôle est une seule ligne de commande qui modifie l'état des arcs. Ces commandes simples s'utilisent pour changer l'état ou la consigne de fonctionnement d'un arc en fonction du niveau de l'eau dans un réservoir, de la pression en un nœud, de l'instant de la simulation et de l'heure de la journée.</li>
  <li>Les RULES : chaque règle est un ensemble de commandes qui modifient l'état des arcs à partir d’une série de conditions.</li>
</ul>
<p>Tous les contrôles et les règles d'EPANET sont transposés dans le fichier de contrôle *.ctl d'Express'eau. C'est à dire que même les régulations qui pourraient être faites en interne dans Express'eau sont traduites dans le fichier ctl, par soucis d'uniformité. L'utilisateur peut ensuite décider de reporter les régulations en interne sur l'objet ou de les laisser dans le fichier ctl.</p>
<p>En dehors de ce point, il y a quelques subtilités &nbsp;dans la transposition des contrôles et des règles d'EPANET :</p>
<ul>
  <li>Si le nombre de conditions est supérieure à deux, il faudra corriger le fichier ctl pour imbriquer des IF THEN, car express'eau n'accepte pas plus de deux conditions (donc un seul AND ou OR).</li>
  <li>Certaines règles rarement utilisées dans EPANET ne sont pas encore implémentées en traduction : il s'agit notamment des conditions sur "DEMAND", "JUNCTION", "RESERVOIR" (piézométrie imposée), "TANK FILLTIME"&nbsp; et "TANK DRAINTIME" dans la section RULES. Si ces règles sont rencontrées, la traduction est interrompue et le message indique de quelle règle il s'agit. &nbsp;En cas de besoin de traduction de telles règles, merci de contacter le support.</li>
</ul>
<h1>3. Modifications manuelles complémentaires</h1>
<h2>a) Ajout d'un ou plusieurs secteurs de consommation</h2>
<p>La première modification à effectuer est de tracer un grand secteur de consommation autour du modèle.</p>
<blockquote>
  <p><strong>Attention, cette étape est primordiale. </strong>Sans secteur de consommation, les point de consommation ne sont pas allouées aux nœuds du réseau pendant la simulation.</p>
  <p>Cette étape ne peut pas être automatisée dans la mesure où l'import de plusieurs modèles pourrait générer des superpositions de secteur de consommation et placer des nœuds dans plusieurs secteurs, ce qui est interdit dans la base de données.</p>
  <p>Cependant, voici une requête pour générer automatiquement un secteur autour de tous les nœuds d'un modèle :</p>
  <p><code>insert into api.water_delivery_sector(geom)</code></p>
  <p><code>select ST_multi(ST<i>Buffer(STConcaveHull(STUnion(u.geom), 0.9), 1)) from api.usernode u where u.model='lenomdu</i>modele'</code></p>
  <p>&nbsp;</p>
</blockquote>
<h2>b) Vérification des connections aux réservoirs</h2>
<p>Le sens des canalisations connectées aux réservoirs est important dans express'eau : vérifier que leur sens est correct sinon cela fausse les résultats.</p>
<h2>c) Vérification des doublons de nom entre différentes couches</h2>
<p>EPANET autorise les doublons de nom entre deux couches différentes. Il peut donc y avoir un nœud, une pompe et une canalisation qui portent tous les 3 le même nom.</p>
<p>Dans express'eau, cette possibilité est en option. Cette option est paramétrée dans la couche metadata, champs “unique_<i>name_</i>per_model”. Elle est activée par défaut pour tout nouveau modèle express'eau mais est désactivée par la passerelle d'import de modèle EPANET pour ne pas bloquer l'import.</p>
<p>Cependant, si une régulation porte sur un élément qui n'a pas un nom unique, le moteur de calcul d'express'eau renvoit un message d'erreur de type&nbsp;</p>
<p><code>erreur détectée dans C:\Users\prenom.nom\.expresseau\projet\data\model.ctl: <strong>n°ligne</strong></code></p>
<p><code>incoherence entre la liaison <strong>nom de la liaison</strong> et son type <strong>type dans le ctl</strong></code></p>
<p>Deux solutions :</p>
<ul>
  <li>Renommer la liaison, relancer la simulation et progresser jusqu'à suppression de tous les doublons problématique</li>
  <li>Cocher l'option “unique_<i>name_</i>per_model” : dans se cas, la base de données PostGRE renvoit un message d'erreur avec la liste de tous les doublons, ce qui permet de les corriger.</li>
</ul>
<h2>d) Suppression des artifices de modélisation</h2>
<p>Il est important de noter que de nombreux artifices de modélisation sont utilisés dans EPANET. Ces artifices ne fonctionnent pas nécessairement dans express'eau qui dispose de plus de fonctionnalités. Il y a donc des modifications à effectuer à la main pour corriger cela.</p>
<p>Ci-dessous, quelques exemples :</p>
<ul>
  <li style="text-align:justify;"><strong>Réservoir alimenté par le haut : Stabilisateur de pression avec pression de consigne nulle en amont des réservoirs</strong></li>
</ul>
<p style="text-align:justify;">Dans EPANET il n'est pas possible de représenter un réservoir alimenté par le haut.&nbsp;</p>
<p style="text-align:justify;">L'astuce de modélisation consiste à créer en amont une vanne stabilisatrice de pression amont dont les nœuds de calcul amont et aval sont situés à la cote de l'alimentation par surverse et dont la consigne est une pression égale à 0 (la vanne sera donc toujours ouverte).</p>
<p style="text-align:justify;">Lors de la conversion du modèle au format express'eau, ces vannes sont traduites telles quelles, et les réservoirs sont définis comme alimentés par le bas (En effet, comme ces vannes ne sont pas directement connectées au réservoir, il est difficile de les identifier automagiquement).&nbsp;</p>
<p style="text-align:justify;">Il est conseillé de supprimer ces STAB et passer le réservoir en mode alim_par_le_haut.</p>
<ul>
  <li style="text-align:justify;"><strong>Surpresseur (maintien de la pression aval sur une consigne fixée)</strong></li>
</ul>
<p style="text-align:justify;">Dans EPANET il n'est pas possible de représenter un surpresseur.&nbsp;</p>
<p style="text-align:justify;">L'astuce de modélisation consiste à créer non pas un élément pompe, mais une vanne brise charge (PBV en anglais) tracée dans le sens inverse de l'écoulement. Ainsi, cette vanne va ajouter une charge fixe (définie par une consigne de pression) à la pression déjà située en amont de la vanne, sans être limitée en débit.&nbsp;</p>
<p style="text-align:justify;">Lors de la conversion du modèle au format express'eau, ces vannes sont traduites telles quelles, comme des vannes générant un delta de perte de charge fixé, et en étant dans le sens inverse de l'écoulement.&nbsp;</p>
<p style="text-align:justify;">La doc technique en ligne indique que « Si ZA &lt;ZC, alors la vanne est réglée en position ouverte. », elle sera donc transparente dans express'eau.&nbsp;</p>
<p style="text-align:justify;">L'utilisateur doit convertir cela en pompe fonctionnant en maintien de la pression aval.</p>
<h2>e) Lecture du fichier de régulation</h2>
<p>Il est conseillé d'ouvrir le fichier de régulation et de lire les consignes qui ont été écrites par la passerelle.</p>
<p>Certaines règles rarement utilisées dans EPANET ne sont pas encore implémentées en traduction : il s'agit notamment des conditions sur "DEMAND", "JUNCTION", "RESERVOIR" (piézométrie imposée), "TANK FILLTIME"&nbsp; et "TANK DRAINTIME" dans la section RULES. Si ces règles sont rencontrées, la traduction est interrompue et le message indique de quelle règle il s'agit.&nbsp;</p>
<p>En cas de besoin de traduction de telles règles, vous pouvez modifier le fichier <u>inp_</u><i><u>to</u></i><u>_ctl.py</u> qui se trouve dans le répertoire <code>expresseau/database</code> de l'installation d'express'eau dans QGIS, ou contacter le support.</p>
<h2>f) Vérification des courbes de modulation</h2>
<p>Certains modèles EPANET inclus une courbe de modulation sur 7 jours pour simuler l'alternance semaine/week-end. Ces courbes ne sont pas importées dans express'eau car la notion de jour de semaine et de week-end est automatique ou paramétrable.</p>
<p>De même, toute courbe de modulation d'une durée supérieure à 24h est tronquée. Il convient de vérifier l'origine d'une telle courbe dans EPANET.</p>
<h2>g) Vérification&nbsp;de la modélisation des fuites</h2>
<p>Si vous souhaitez modéliser les fuites avec le paramétrage d'un rendement dans les secteurs de consommation, il convient de vérifier si les q0 importés dans les nœuds sont des fuites et si c'est le cas, les supprimer.</p>
<h2>h) Modification (ou pas) du paramétrage des longueurs des canalisations</h2>
<p>Dans EPANET, les longueurs des canalisations sont un paramètre intrinsèque.</p>
<p>Dans express'eau, la longueur est soit la longueur géométrique, soit une longueur forcée, au choix de l'utilisateur.</p>
<p>Lors de la conversion du modèle EPANET au format express'eau, les longueurs sont forcées à la longueur paramétrée dans EPANET. L'utilisateur peut choisir de conserver ces longueurs pour rester au plus près du modèle EPANET ou peut décocher l'option de forçage.</p>
<h2>i) Paramétrage des stabilisateurs de pression</h2>
<p>Dans EPANET, le moteur de calcul ne simule pas le fonctionnement réel des stabilisateurs de pression mais impose des coupures hydrauliques pour un respect parfait des consignes.</p>
<p>Dans express'eau, le moteur de calcul effectue une vraie régulation. Il est donc parfois nécessaire de reparamétrer correctement les stabilisateurs de pression (surface, coefficient de perte de charge et PID) pour qu'ils soient correctement régulés.</p>
<h2>Conclusion</h2>
<p>La liste de ces vérifications semblent longues et les manipulations fastidieuses. En réalité, il s'agit de quelques heures de travail pour ensuite bénéficier de toutes les fonctionnalités d'express'eau.</p>
<p>&nbsp;</p>
