<!--
title: Passerelle avec EPANET
description: 
published: true
date: 2025-02-06T13:42:46.100Z
tags: 
editor: ckeditor
dateCreated: 2023-01-09T08:45:34.224Z
-->

<h1>Introduction</h1>
<p>Express'eau dispose d'une passerelle avec le logiciel EPANET. Il est donc possible d'importer ou d'exporter des modèles entre Express'eau et EPANET.</p>
<p>Cette passerelle est disponible via le menu <code>Express'eau → Gérer les projets</code>.</p>
<p>Les pages disponibles via les liens suivants présentent comment faire les imports et les exports. Plus de détails sur les processus d’import et d'export sont ensuite détaillés sur la présente page.</p>
<p><a href="/passerelle_epanet_import">Import de modèles EPANET</a></p>
<p><a href="/passerelle_epanet_export">Export de modèles vers EPANET</a></p>
<h1>Généralités sur les correspondances entre les objets des deux logiciels</h1>
<p>Le tableau suivant présente les correspondances entre les objets des deux logiciels. Ce sont ici des correspondances simplifiées. Il y a de nombreuses subtilités présentées plus bas.</p>
<p>&nbsp;</p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td>
          <p style="text-align:center;"><strong>Objet Express'eau</strong></p>
        </td>
        <td>
          <p style="text-align:center;"><strong>Objet EPANET</strong></p>
        </td>
      </tr>
      <tr>
        <td>
          <p style="text-align:center;">Noeud</p>
        </td>
        <td>
          <p style="text-align:center;">Junction</p>
        </td>
      </tr>
      <tr>
        <td>
          <p style="text-align:center;">Point de consommation</p>
        </td>
        <td>
          <p style="text-align:center;">(Junction)</p>
        </td>
      </tr>
      <tr>
        <td>
          <p style="text-align:center;">Secteur de consommation</p>
        </td>
        <td>
          <p style="text-align:center;">-</p>
        </td>
      </tr>
      <tr>
        <td>
          <p style="text-align:center;">Canalisation</p>
        </td>
        <td>
          <p style="text-align:center;">Pipe</p>
        </td>
      </tr>
      <tr>
        <td>
          <p style="text-align:center;">Réservoir</p>
        </td>
        <td>
          <p style="text-align:center;">Tank</p>
        </td>
      </tr>
      <tr>
        <td>
          <p style="text-align:center;">Piézométrie imposée</p>
        </td>
        <td>
          <p style="text-align:center;">Reservoir</p>
        </td>
      </tr>
      <tr>
        <td>
          <p style="text-align:center;">Injection de débit</p>
        </td>
        <td>
          <p style="text-align:center;">-</p>
        </td>
      </tr>
      <tr>
        <td>
          <p style="text-align:center;">Connecteur inter-modèle</p>
        </td>
        <td>
          <p style="text-align:center;">-</p>
        </td>
      </tr>
      <tr>
        <td>
          <p style="text-align:center;">Clapet</p>
        </td>
        <td>
          <p style="text-align:center;">Status CV dans élément Pipe</p>
        </td>
      </tr>
      <tr>
        <td>
          <p style="text-align:center;">Vanne simple</p>
        </td>
        <td>
          <p style="text-align:center;">Valve de type TCV</p>
        </td>
      </tr>
      <tr>
        <td>
          <p style="text-align:center;">Régulateur de débit</p>
        </td>
        <td>
          <p style="text-align:center;">Valve de type FCV</p>
        </td>
      </tr>
      <tr>
        <td>
          <p style="text-align:center;">Régulateur de pression :</p>
          <p style="text-align:center;">amont</p>
          <p style="text-align:center;">aval</p>
          <p style="text-align:center;">delta</p>
        </td>
        <td>
          <p style="text-align:center;">Valve de type :</p>
          <p style="text-align:center;">PSV</p>
          <p style="text-align:center;">&nbsp;PRV</p>
          <p style="text-align:center;">PBV</p>
        </td>
      </tr>
      <tr>
        <td>
          <p style="text-align:center;">Pompe :</p>
          <p style="text-align:center;">pompe régulée en débit</p>
          <p style="text-align:center;">pompe régulée en pression</p>
          <p style="text-align:center;">pompe régulée en marche/arrêt</p>
        </td>
        <td>
          <p style="text-align:center;">Pump :</p>
          <p style="text-align:center;">pompe + artifice de modélisation</p>
          <p style="text-align:center;">pompe + artifice de modélisation</p>
          <p style="text-align:center;">pompe + RULE</p>
        </td>
      </tr>
    </tbody>
  </table>
</figure>
<h1>Généralités sur les correspondances en termes de régulation</h1>
<p>&nbsp;</p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td>&nbsp;</td>
        <td>
          <p style="text-align:center;"><strong>Express'eau</strong></p>
        </td>
        <td>
          <p style="text-align:center;"><strong>EPANET</strong></p>
        </td>
      </tr>
      <tr>
        <td><strong>Paramétrage de la régulation</strong></td>
        <td>
          <p style="text-align:center;">Régulation paramétrée dans les objets</p>
          <p style="text-align:center;">ET/OU</p>
          <p style="text-align:center;">Régulation renseignée dans un fichier texte dit “fichier de régulation”</p>
        </td>
        <td>
          <p style="text-align:center;">Régulation paramétrée dans des blocs texte avec deux niveaux de régulation :</p>
          <p style="text-align:center;">Rules</p>
          <p style="text-align:center;">Controls</p>
        </td>
      </tr>
    </tbody>
  </table>
</figure>
<h1>Fiabilité de la transposition</h1>
<p>Le choix qui ont été faits pour la transposition d'un logiciel à un autre ont été testés pour être validés, élément par élément.</p>
<p>L'intégralité des tests unitaires (petits modèles qui testent la validité des résultats du modèle vis à vis des équations théoriques sur les éléments, un par un) d'Express'eau a été appliqué à EPANET.&nbsp;</p>
<p>Les deux logiciels donnent les mêmes résultats sur tous les tests, à moins de 1% d'écart.</p>
<blockquote>
  <p>Attention, la transposition nécessite toujours une vérification. Les pages détaillant l'import et l'export précisent les vérifications à effectuer.</p>
</blockquote>
