<!--
title: Profil en long
description: 
published: true
date: 2024-09-17T16:11:48.901Z
tags: 
editor: ckeditor
dateCreated: 2024-09-17T15:01:08.889Z
-->

<h1>Introduction</h1>
<p>Un outil de profil en long moderne est en cours de développement. Il sera commun à express'eau et hydra.</p>
<p>En attendant, l'outil de visualisation des profils en long “Anim'eau" a été intégré à express'eau.</p>
<p>Il est disponible via : <i><u>Menu Express'eau → Outil avancés → Anim'eau</u></i></p>
<h1>Lancement d'Anim'eau</h1>
<p>Anim'eau fonctionne par modèle et par simulation.</p>
<p>Veillez à avoir sélectionné un modèle dans le menu déroulant de la barre d'outil d'express'eau, ainsi qu'une simulation qui a tourné puis lancer anim'eau.</p>
<p>Au lancement d'anim'eau, cliquer sur “<i><u>Profil en long uniquement</u></i>”. Un profil en long s'affiche.</p>
<h1>Choix des canalisations</h1>
<p>Pour sélectionner la ou les canalisations à visualiser, cliquer sur “ECHAP” puis sur <i><u>“Modifier ce profil en long” → “Choix des canalisations”</u></i>. Sélectionner les canalisations puis clic-droit→ <i><u>Validation.</u></i></p>
<figure class="image image_resized" style="width:75.47%;"><img src="/animeau.png"></figure>
