<!--
title: Tutoriel : Modélisation d'une journée sur un petit réseau d'eau potable construit à la main dans l'interface d'Express'Eau sous QGIS.
description: 
published: true
date: 2022-07-22T16:28:44.712Z
tags: 
editor: ckeditor
dateCreated: 2021-06-01T06:46:19.066Z
-->

<p><mark class="marker-yellow">Work in progress</mark></p>
<h1>Introduction</h1>
<p>Ce tutoriel explique comment créer un projet, créer un modèle, construire un réseau, le paramétrer, lancer une simulation et visualiser les résultats. Il s'agit d'un “pas à pas” qui décrit toutes les étapes de la modélisation.</p>
<p>Pour ce tutoriel, nous avons choisi de modéliser un réseau <u>fictif.</u></p>
<h2>Quelles sont les différentes étapes de ce tutoriel ?</h2>
<p>Les étapes de la modélisation sont les suivantes :</p>
<ul>
  <li>Création d'un projet <strong>Express'eau</strong></li>
  <li>Création d'un modèle <strong>Express'eau</strong></li>
  <li>Création du secteur de consommation à modéliser</li>
  <li>Création et paramétrage des nœuds du réseau dans le secteur de consommation</li>
  <li>Création et paramétrage des canalisations du réseau</li>
  <li>Modélisation de l'alimentation du réseau (forage)</li>
  <li>Modélisation d'une vente d'eau</li>
  <li>Modélisation du stockage existant</li>
  <li>Paramétrage du scénario de consommation de référence</li>
  <li>Paramétrage d'une scénario de consommation “jour de pointe”</li>
  <li>Paramétrage des alarmes</li>
  <li>Paramétrage de deux scénarios de calcul</li>
  <li>Lancement des calculs</li>
  <li>Visualisation des résultats</li>
  <li>Paramétrage d'une nouvelle configuration sur le réseau</li>
  <li>Paramétrage d'un scénario de calcul avec une configuration et lancement du calcul</li>
</ul>
<h1>Modélisation pas à pas</h1>
<h2>Création d'un projet Express'eau</h2>
<ul>
  <li>Cliquez sur <code>Express'eau → New Project</code></li>
</ul>
<p>La boite de dialogue suivante s'ouvre :</p>
<figure class="image"><img src="/tuto1-img1.png"></figure>
<ul>
  <li>Choisissez un nom pour votre projet. Il sera automatiquement corrigé pour respecter les contraintes de casse (pas de majuscule ni de caractère spéciaux ou accentué ni d'espace).</li>
  <li>Choisissez le code EPSG de votre projet soit en le renseignant manuellement (par exemple 2154 pour du Lambert-93) soit en le sélectionnant via le bouton <code>Select EPSG… </code>qui permet d'ouvrir la fenêtre de sélection du système de coordonnées :</li>
</ul>
<figure class="image"><img src="/tuto1-img2.png"></figure>
<ul>
  <li>Cliquer sur OK pour chaque fenêtre.</li>
  <li>Le projet <i>tuto_1</i> est crée.</li>
</ul>
<p>L'arborescence des couches d'Express'Eau est alors crée</p>
<blockquote>
  <p>Attention, à ce stade il n'y a aucun modèle existant dans votre projet. Vous ne pouvez donc pas créer d'objet.</p>
</blockquote>
<h2>Création d'un modèle Express'eau</h2>
<ul>
  <li>Cliquez sur <code>Express'eau → Models → Add Model</code></li>
</ul>
<p>La boite de dialogue suivante s'ouvre :</p>
<figure class="image"><img src="/tuto1-img3.png"></figure>
<ul>
  <li>Choisissez un nom pour votre projet. Il sera automatiquement corrigé pour respecter les contraintes de casse (pas de majuscule ni de caractère spéciaux ou accentué ni d'espace).</li>
  <li>Cliquer sur OK.</li>
</ul>
<p>Le modèle <i>petit_village</i> est crée.</p>
<p>&nbsp;</p>
<h2>Création du secteur de consommation à modéliser</h2>
<p>&nbsp;</p>
<p>Pour modéliser les consommations sur les nœuds, il faut que les nœuds appartiennent à un secteur de consommation. Le secteur de consommation est un polygone.</p>
<ul>
  <li>Placer vous sur la couche <code>Water Delivery sector</code></li>
  <li>Rendez-la modifiable si ce n'est pas le cas.</li>
  <li>Sélectionner l'outil de création d'un élément QGIS.</li>
  <li>Tracer le secteur</li>
</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2>Création et paramétrage des nœuds du réseau dans le secteur de consommation</h2>
<h2>Création et paramétrage des canalisations du réseau</h2>
<h2>Modélisation de l'alimentation du réseau (forage + achat d'eau)</h2>
<h2>Modélisation du stockage existant</h2>
<h2>Modélisation d'une vanne</h2>
<h2>Modélisation d'un stabilisateur de pression</h2>
<h2>Paramétrage des consommations sur les nœuds du réseau</h2>
<h2>Paramétrage du scénario de consommation de référence</h2>
<h2>Paramétrage d'une scénario de consommation “jour de pointe”</h2>
<h2>Paramétrage des alarmes</h2>
<h2>Paramétrage de deux scénarios de calcul</h2>
<h2>Lancement des calculs</h2>
<h2>Visualisation des résultats</h2>
<h2>Paramétrage d'une nouvelle configuration sur le réseau</h2>
<h2>Paramétrage d'un scénario de calcul avec une configuration et lancement du calcul</h2>
