<!--
title: Coloration syntaxique des fichiers de régulation grâce à Notapad++
description: 
published: true
date: 2023-03-02T19:09:22.003Z
tags: notepad++, fichiers de régulation
editor: ckeditor
dateCreated: 2023-03-02T10:57:24.254Z
-->

<h1>Introduction</h1>
<p>Notepad++ est un éditeur de texte avancé, disponible sous l’environnement Microsoft Windows et gérant notamment la coloration syntaxique et l’autocomplétion de codage informatique. Il supporte de nombreux langages informatiques et permet à l'utilisateur d'ajouter son propre langage grâce à la fonction <strong>User Defined Languages</strong>. Ce module permet d’importer des fichiers de langage au format .xml</p>
<p>Express'eau dispose d'un fichier .xml permettant la <strong>coloration syntaxique des fichiers de régulation</strong>.</p>
<blockquote>
  <p>Ce fichier est installé automatiquement par express'eau dans le dossier des langages utilisateurs de Notepad++.</p>
</blockquote>
<p>En cas de besoin, il est téléchargeable ici (clic-droit→ enregistrer cible sous): <a href="/expresseau_ctl.xml">/expresseau_ctl.xml</a></p>
<h1>Utilisation de la coloration syntaxique des fichiers de régulation d'express'eau</h1>
<p>L'import du fichier xml dans Notepad++ est fait par express'eau.</p>
<p>Pour en bénéficier, ouvrez Notepad++ puis allez dans le menu "Langage" puis&nbsp;choisissez <strong>express'eau.ctl</strong> qui doit apparaitre en bas du menu déroulant.</p>
<h1>Import du fichier expresseau_ctl.xml</h1>
<p>Comme indiqué ci-dessus, l'import du fichier dans Notepad++ est normalement fait par express'eau. Vous n'avez rien à faire.</p>
<p>En cas de besoin, la procédure manuelle est la suivante :</p>
<h3>Solution classique (ne permet pas de modifier le xml)</h3>
<ol>
  <li>Ouvrez Notepad++ puis allez dans le menu "Langage" puis “Langage utilisateur” puis sur “Ouvrir le dossier des langages utilisateurs”.</li>
  <li>Copiez dans ce répertoire le fichier de langage au format .xml.</li>
  <li>Relancez Notepad++.</li>
  <li>Ouvrez votre fichier de régulation.</li>
  <li>Dans &nbsp;"Langage", sélectionnez expresseau.ctl</li>
  <li>Voilà, la coloration syntaxique est appliquée à votre fichier de régulation !</li>
</ol>
<h3>Solution avancée (permet de modifier le xml)</h3>
<ol>
  <li>Ouvrez Notepad++ puis allez dans le menu "Langage" puis “Langage utilisateur” puis sur "Définir votre langage"…</li>
  <li>Dans la fenêtre "Langage utilisateur", cliquez sur "Importer"…</li>
  <li>Sélectionnez le fichier à importer (fichier de langage au format .xml) puis cliquez sur le bouton Ouvrir.</li>
  <li>Un message doit vous indiquer si l’import a bien été effectué.</li>
  <li>Relancez Notepad++ puis allez dans le menu Langage. Votre nouveau langage doit apparaitre tout en bas du menu.</li>
  <li>Pour modifier la coloration syntaxique, retournez dans le menu "Langage" puis “Langage utilisateur” puis sur "Définir votre langage"…</li>
</ol>
<p>&nbsp;</p>
