<!--
title: Visualisation des résultats
description: 
published: true
date: 2023-04-05T21:45:03.452Z
tags: 
editor: ckeditor
dateCreated: 2022-07-22T14:55:38.152Z
-->

<h1>Introduction</h1>
<p>La visualisation des résultats se fait avec l'outil QGIS &nbsp;:</p>
<figure class="image"><img src="/i.png"></figure>
<p><code>Clic-droit → choix de l'élément → Open Results.</code></p>
<h1>Résultats visualisables</h1>
<p>Le graphe qui s'affiche est le graphe de la première grandeur associée au typé d'élément &nbsp;mais il existe plusieurs grandeurs visualisables :</p>
<p>&nbsp;</p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td><strong>Type d'élément</strong></td>
        <td><strong>Grandeur n°1</strong></td>
        <td><strong>Grandeur n°2</strong></td>
        <td><strong>Grandeur n°3</strong></td>
        <td><strong>Grandeur n°4</strong></td>
      </tr>
      <tr>
        <td>Nœud</td>
        <td>Piézométrie (mNGF)</td>
        <td>Pression (mCE)</td>
        <td>Débit soutiré (m3/h)</td>
        <td>Débit de soutirage consigne (m3/h)</td>
      </tr>
      <tr>
        <td>Réservoir</td>
        <td>Piézométrie (mNGF)</td>
        <td>Débit entrant (m3/h)</td>
        <td>Débit sortant (m3/h)</td>
        <td>Débit débordé (m3/h)</td>
      </tr>
      <tr>
        <td>Canalisation</td>
        <td>Débit (m3/h)</td>
        <td>Vitesse (m/s)</td>
        <td>Perte de charge (mm/m)</td>
        <td>Status (ouverte/fermée)</td>
      </tr>
      <tr>
        <td>Vanne</td>
        <td>Débit (m3/h)</td>
        <td>Perte de charge (mCE)</td>
        <td>ALPS (degré d'ouverture)</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Régulateur de débit</td>
        <td>Débit (m3/h)</td>
        <td>Débit de consigne (m3/h)</td>
        <td>Perte de charge (mCE)</td>
        <td>ALPS (degré d'ouverture)</td>
      </tr>
      <tr>
        <td>Régulateur de pression</td>
        <td>Débit (m3/h)</td>
        <td>
          <p>Pression ou perte de charge&nbsp;</p>
          <p>de consigne (mCE)</p>
        </td>
        <td>Perte de charge (mCE)</td>
        <td>ALPS (degré d'ouverture)</td>
      </tr>
      <tr>
        <td>Clapet</td>
        <td>Débit (m3/h)</td>
        <td>Perte de charge (mCE)</td>
        <td>ALPS (degré d'ouverture)</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Pompe</td>
        <td>Débit (m3/h)</td>
        <td>Perte de charge (mCE)</td>
        <td>ALPR (coefficient de rotation)</td>
        <td>Volume pompé cumulé* (m3)</td>
      </tr>
      <tr>
        <td>Perte de charge</td>
        <td>Débit (m3/h)</td>
        <td>Perte de charge (mCE)</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Vase d'expansion</td>
        <td>Débit de remplissage (m3/h)</td>
        <td>Piézométrie (mNGF)</td>
        <td>Volume de remplissage</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Accumulateur de pression (ballon anti-bélier)</td>
        <td>Débit de remplissage (m3/h)</td>
        <td>Piézométrie (mNGF)</td>
        <td>Volume de remplissage</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Ventouse</td>
        <td>Débit de remplissage (m3/h)</td>
        <td>Piézométrie (mNGF)</td>
        <td>Volume d'air cumulé éjecté</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Piézométrie imposée</td>
        <td>Débit (m3/h)</td>
        <td>Volume cumulé* (m3)</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Injection de débit</td>
        <td>Débit (m3/h)</td>
        <td>Volume cumulé* (m3)</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Injection de chlore</td>
        <td>Débit (m3/h)</td>
        <td>Volume* (m3)</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Connecteurs de modèles</td>
        <td>Débit (m3/h)</td>
        <td>Piézométrie (mNGF)</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
</figure>
<p><i>*Pour les volumes, il s'agit d'un cumul depuis le début de la simulation, y compris pendant le temps d'initialisation.</i></p>
<p>Par exemple, ci-dessous est visualisé le débit d'une pompe :</p>
<figure class="image image_resized" style="width:63.38%;"><img src="/graphe_resultats_pompe.png"></figure>
<h1>Possibilités offertes par le grapheur</h1>
<p>Il est possible d'ajouter d'autres courbes en utilisant l'axe de gauche ou de droite. Pour cela, on navigue dans les résultats à partir des menues déroulant situés à droite de la fenêtre dans lesquels on peut changer :</p>
<ul>
  <li>de scénario</li>
  <li>de modèle</li>
  <li>de type d'élément</li>
  <li>d'élément</li>
  <li>de résultats</li>
</ul>
<p>Il faut ensuite choisir “ajouter à gauche” ou “ajouter à droite”.</p>
<figure class="image"><img src="/menu des graphes.png"></figure>
<p>On peut ainsi visualiser toutes les courbes de tous les éléments du modèle et de tous les scénarios qui ont tourné. On peut donc :</p>
<ul>
  <li>Comparer la même courbe pour plusieurs scénarios</li>
  <li>Visualiser des niveaux et des débits en utilisant les deux axes</li>
  <li>etc.</li>
</ul>
<p>Par exemple, ci-dessous, on visualise le débit d'une pompe et le niveau dans le château d'eau sur lequel elle est asservie :</p>
<figure class="image image_resized" style="width:40.05%;"><img src="/graphe_resultats_pompe_chateau.png"></figure>
<p>Il est possible de supprimer un des graphes (<code>clic-droit sur le graphe → Remove</code>) ou de tout effacer (bouton en bas <code>effacer le graphe</code>).</p>
<p>Il est également possible d'extraire les résultats (<code>copier les données dans le presse-papier</code>) ou de les sauvegarder en image (<code>disquette en haut</code>).</p>
<p>Enfin d'autres options sont disponibles (changement d'échelle, de couleur des graphes, etc.)</p>
