<!--
title: Structure des fichiers de résultats de calculs&nbsp;:&nbsp;W14, W17, W18, W16
description: 
published: true
date: 2024-10-22T07:01:57.982Z
tags: w14 w18 w16
editor: ckeditor
dateCreated: 2022-06-27T11:28:22.397Z
-->

<h1>Introduction</h1>
<p>Les fichiers de résultats produits par le moteur de calcul d'express'eau sont des fichiers binaires dont la structure est présentée ci-dessus.</p>
<h1>Fichiers W14 et &nbsp;W17</h1>
<h2>Fichier W14</h2>
<h3>Définition</h3>
<p>&nbsp;Ce fichier contient les résultats de calculs hydrauliques des liaisons et des nœuds.</p>
<h3>Structure</h3>
<p>Fichier accès direct, RECL = 32 octets. Il est composé de deux groupes contigus d’enregistrements.</p>
<ul>
  <li><i><u>1</u><sup><u>er</u></sup><u> groupe&nbsp;: variables de positionnement et libellés&nbsp;</u></i></li>
</ul>
<figure class="table">
  <table style="border-bottom:none;border-left:none;border-right:none;border-top:none;">
    <tbody>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:160.85pt;">Ligne 1</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt none windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:71.35pt;">Nstep</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt none windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:92.15pt;">Numel (=0)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt none windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:70.9pt;">Nliais</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt none windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:65.3pt;">N°version</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:160.85pt;">Ligne 2</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:299.7pt;" colspan="4">Cid_us_liais (1)*24</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:160.85pt;">Ligne3</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:299.7pt;" colspan="4">Cid_us_liais (2) *24</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:160.85pt;">&nbsp;</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:299.7pt;" colspan="4">&nbsp;</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:160.85pt;">Ligne 1+Nliais</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:299.7pt;" colspan="4">Cid_us_liais (Nliais) *24</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:160.85pt;">&nbsp;</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:299.7pt;" colspan="4">&nbsp;</td>
      </tr>
    </tbody>
  </table>
</figure>
<p>Note&nbsp;: Numel = 0</p>
<ul>
  <li><i><u>2</u><sup><u>nd</u></sup><u> groupe&nbsp;: instant de pas de temps de calcul et valeurs des grandeurs calculées relatives aux éléments</u></i></li>
</ul>
<p>Le bloc de résultats au temps Ti comprend 8 champs. Il est structuré comme suit&nbsp;:</p>
<p><u>Champs 1 à 4&nbsp;: Paramètres 1 à 4</u></p>
<figure class="table">
  <table style="border-bottom:none;border-left:none;border-right:none;border-top:none;">
    <tbody>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:113.45pt;">Ligne 1</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt none windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:99.25pt;">Ti</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt none windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:3.0cm;">&nbsp;</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt none windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:92.1pt;">&nbsp;</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt none windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:90.4pt;">&nbsp;</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:113.45pt;">Ligne 2</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:99.25pt;">Param1(1)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:3.0cm;">Param2(1)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:92.2pt;">Param3(1)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:90.3pt;">Param4(1)</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:113.45pt;">Ligne3</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:99.25pt;">Param1(2)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:3.0cm;">Param2(2)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:92.2pt;">Param3(2)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:90.3pt;">Param4(2)</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:113.45pt;">&nbsp;</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:366.8pt;" colspan="4">&nbsp;</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:113.45pt;">Ligne 1+Nliais</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:99.25pt;">Param1 (nliais)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:3.0cm;">Param2 (nliais)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:92.2pt;">Param3 (nliais)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:90.3pt;">Param4 (nliais)</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:113.45pt;">&nbsp;</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:366.8pt;" colspan="4">&nbsp;</td>
      </tr>
    </tbody>
  </table>
</figure>
<h2>Fichier W17</h2>
<h3>Définition</h3>
<p>&nbsp;Ce fichier contient les résultats de calculs qualité des liaisons et des nœuds.</p>
<h3>Structure</h3>
<p>Fichier accès direct, RECL = 32 octets. Il est composé de deux groupes contigus d’enregistrements.</p>
<ul>
  <li><i><u>1</u><sup><u>er</u></sup><u> groupe&nbsp;: variables de positionnement et libellés&nbsp;</u></i></li>
</ul>
<figure class="table">
  <table style="border-bottom:none;border-left:none;border-right:none;border-top:none;">
    <tbody>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:160.85pt;">Ligne 1</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt none windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:71.35pt;">Nstep</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt none windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:92.15pt;">Numel (=0)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt none windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:70.9pt;">Nliais</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt none windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:65.3pt;">N°version</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:160.85pt;">Ligne 2</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:299.7pt;" colspan="4">Cid_us_liais (1)*24</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:160.85pt;">Ligne3</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:299.7pt;" colspan="4">Cid_us_liais (2) *24</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:160.85pt;">&nbsp;</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:299.7pt;" colspan="4">&nbsp;</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:160.85pt;">Ligne 1+Nliais</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:299.7pt;" colspan="4">Cid_us_liais (Nliais) *24</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:160.85pt;">&nbsp;</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:299.7pt;" colspan="4">&nbsp;</td>
      </tr>
    </tbody>
  </table>
</figure>
<p>Note&nbsp;: Numel = 0</p>
<ul>
  <li><i><u>2</u><sup><u>nd</u></sup><u> groupe&nbsp;: instant de pas de temps de calcul et valeurs des grandeurs calculées relatives aux éléments</u></i></li>
</ul>
<p>Le bloc de résultats au temps Ti comprend 8 champs. Il est structuré comme suit&nbsp;:</p>
<p><u>Champs 1 à 4 : Paramètres 5 à 8&nbsp;:</u></p>
<figure class="table">
  <table style="border-bottom:none;border-left:none;border-right:none;border-top:none;">
    <tbody>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:113.45pt;">Ligne 2</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt none windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:95.9pt;">Param5(1)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt none windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:90.3pt;">Param6 (nliais)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt none windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:90.3pt;">Param7(1)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt none windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:90.3pt;">Param8(1)</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:113.45pt;">Ligne3</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:95.9pt;">Param5(2)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:90.3pt;">Param6(2)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:90.3pt;">Param7(2)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:90.3pt;">Param8(2)</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:113.45pt;">&nbsp;</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:366.8pt;" colspan="4">&nbsp;</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:113.45pt;">Ligne 1+Nliais</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:95.9pt;">Param5 (nliais)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:90.3pt;">Param6 (nliais)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:90.3pt;">Param7 (nliais)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:90.3pt;">Param8 (nliais)</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:113.45pt;">&nbsp;</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:366.8pt;" colspan="4">&nbsp;</td>
      </tr>
    </tbody>
  </table>
</figure>
<h2>Définition des paramètres de résultats des W14 et W17</h2>
<p>La définition des paramètres dépend du type de l’élément est donnée ci-dessous pour chaque type&nbsp;:</p>
<figure class="image image_resized" style="width:71.09%;"><img src="/w14.jpg"></figure>
<p>erratum : Fchlore en kg/h</p>
<h1>Fichier W18</h1>
<h2>Définition</h2>
<p>&nbsp;Ce fichier contient les résultats de calculs relatifs à la provenance de l’eau. Les résultats sont disponibles uniquement dans les canalisations.</p>
<h2>Structure</h2>
<p>Fichier accès direct, RECL = 32 octets. Il est composé de deux groupes contigus d’enregistrements.</p>
<ul>
  <li><i><u>1</u><sup><u>er</u></sup><u> groupe&nbsp;: variables de positionnement et libellés&nbsp;</u></i></li>
</ul>
<figure class="table">
  <table style="border-bottom:none;border-left:none;border-right:none;border-top:none;">
    <tbody>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:160.85pt;">Ligne 1</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt none windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:71.35pt;">Nstep</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt none windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:92.15pt;">Numel</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt none windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:70.9pt;">Nliais</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt none windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:65.3pt;">&nbsp;</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:160.85pt;">Ligne 2</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:299.7pt;" colspan="4">Cid_us_liais (1)*16</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:160.85pt;">Ligne3</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:299.7pt;" colspan="4">Cid_us_liais (2) *16</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:160.85pt;">&nbsp;</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:299.7pt;" colspan="4">&nbsp;</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:160.85pt;">Ligne 1+Nliais</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:299.7pt;" colspan="4">Cid_us_liais (Nliais) *16</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:160.85pt;">&nbsp;</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:299.7pt;" colspan="4">&nbsp;</td>
      </tr>
    </tbody>
  </table>
</figure>
<p>Note&nbsp;: Numel = 0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<ul>
  <li><i><u>2</u><sup><u>nd</u></sup><u> groupe&nbsp;: instant de pas de temps de calcul et valeurs des grandeurs calculées relatives aux éléments</u></i></li>
</ul>
<p>Le bloc&nbsp; de résultats au temps Ti&nbsp; comprend 8 champs. Il est structuré comme suit&nbsp;:</p>
<p><u>Champs 1 à 4&nbsp;:</u></p>
<figure class="table">
  <table style="border-bottom:none;border-left:none;border-right:none;border-top:none;">
    <tbody>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:113.45pt;">Ligne 1</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt none windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:99.25pt;">Ti</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt none windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:3.0cm;">&nbsp;</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt none windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:92.1pt;">&nbsp;</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt none windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:90.4pt;">&nbsp;</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:113.45pt;">Ligne 2</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:99.25pt;">Param1(1)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:3.0cm;">Param2(1)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:92.2pt;">Param3(1)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:90.3pt;">Param4(1)</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:113.45pt;">Ligne3</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:99.25pt;">Param1(2)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:3.0cm;">Param2(2)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:92.2pt;">Param3(2)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:90.3pt;">Param4(2)</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:113.45pt;">&nbsp;</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:366.8pt;" colspan="4">&nbsp;</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:113.45pt;">Ligne 1+Nliais</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:99.25pt;">Param1 (nliais)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:3.0cm;">Param2 (nliais)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:92.2pt;">Param3 (nliais)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:90.3pt;">Param4 (nliais)</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:113.45pt;">&nbsp;</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:366.8pt;" colspan="4">&nbsp;</td>
      </tr>
    </tbody>
  </table>
</figure>
<p><u>Champs 5 à 8&nbsp;:</u></p>
<figure class="table">
  <table style="border-bottom:none;border-left:none;border-right:none;border-top:none;">
    <tbody>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:113.45pt;">Ligne 2</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt none windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:95.9pt;">Param5(1)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt none windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:90.3pt;">Param6(1)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt none windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:90.3pt;">Param7(1)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt none windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:90.3pt;">Param8(1)</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:113.45pt;">Ligne3</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:95.9pt;">Param5(2)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:90.3pt;">Param6(2)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:90.3pt;">Param7(2)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:90.3pt;">Param8(2)</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:113.45pt;">&nbsp;</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:366.8pt;" colspan="4">&nbsp;</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:113.45pt;">Ligne 1+Nliais</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:95.9pt;">Param5 (nliais)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:90.3pt;">Param6 (nliais)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:90.3pt;">Param7 (nliais)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:90.3pt;">Param8 (nliais)</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:113.45pt;">&nbsp;</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:366.8pt;" colspan="4">&nbsp;</td>
      </tr>
    </tbody>
  </table>
</figure>
<p>Les paramètres 1 à 8 sont les parts de l'eau en provenance des sources 1 à 8.</p>
<h1>Fichier W16</h1>
<h2>Définition</h2>
<p>&nbsp;Ce fichier, généré par XEAU, contient les résultats de calculs à tous les nœuds de calculs des canalisations. Il peut donc être utilisé pour le dessin des profils en long.</p>
<h2>Structure</h2>
<p>Fichier accès direct, RECL = 32 octets. Il est composé de deux groupes contigus d’enregistrements.</p>
<ul>
  <li><i><u>1</u><sup><u>er</u></sup><u> groupe&nbsp;: variables de positionnement et libellés&nbsp;</u></i></li>
</ul>
<figure class="table">
  <table style="border-bottom:none;border-left:none;border-right:none;border-top:none;">
    <tbody>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:145.85pt;">Ligne 1</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt none windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:84.4pt;" colspan="4">nb_step</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt none windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:101.7pt;" colspan="5">nb_tot</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt none windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:68.9pt;" colspan="4">nb_cana</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt none windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:63.5pt;" colspan="4">iversion</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:145.85pt;">Ligne 2</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:168.05pt;" colspan="8">Clabel_br(1)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:150.45pt;" colspan="9">nb_rec(1)</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:145.85pt;">Ligne 3</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:168.05pt;" colspan="8">Clabel_br(2)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:150.45pt;" colspan="9">nb_rec(2)</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:145.85pt;">&nbsp;…</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:318.5pt;" colspan="17">&nbsp;… &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;…</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:145.85pt;">Ligne (1+nb_cana)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:168.05pt;" colspan="8">Clabel_br(nb_cana)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:150.45pt;" colspan="9">nb_rec(nb_cana)</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:145.85pt;">Ligne (1+nb_cana) + 1</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:74.35pt;" colspan="2">PK(1)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:54.7pt;" colspan="3">Zf(1)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:74.95pt;" colspan="7">Zv(1)/Zd(1)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:55.9pt;" colspan="4">Ztn(1)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:58.6pt;">Cid(1)*16</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:145.85pt;">Ligne (1+nb_cana) + 2</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:75.75pt;" colspan="3">PK(2)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:56.35pt;" colspan="4">Zf(2)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:69.15pt;" colspan="4">Zv(2)/Zd(2)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:57.45pt;" colspan="4">Ztn(2)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:59.8pt;" colspan="2">Cid(1)*16</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:145.85pt;">&nbsp;…</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:318.5pt;" colspan="17">&nbsp;….</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:145.85pt;">Ligne (1+nb_cana) + nb_tot</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:69.4pt;">PK(nb_tot)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:59.95pt;" colspan="5">Zf(nb_tot)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:65.85pt;" colspan="4">Zv/Zd(nb_tot)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:61.05pt;" colspan="4">Ztn(nb_tot)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:62.25pt;" colspan="3">Cid(nb_tot)*16</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:145.85pt;">&nbsp;</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:318.5pt;" colspan="17">&nbsp;</td>
      </tr>
      <tr>
        <td style="border-bottom:none;border-left:none;border-right:none;border-top:none;">&nbsp;</td>
        <td style="border-bottom:none;border-left:none;border-right:none;border-top:none;">&nbsp;</td>
        <td style="border-bottom:none;border-left:none;border-right:none;border-top:none;">&nbsp;</td>
        <td style="border-bottom:none;border-left:none;border-right:none;border-top:none;">&nbsp;</td>
        <td style="border-bottom:none;border-left:none;border-right:none;border-top:none;">&nbsp;</td>
        <td style="border-bottom:none;border-left:none;border-right:none;border-top:none;">&nbsp;</td>
        <td style="border-bottom:none;border-left:none;border-right:none;border-top:none;">&nbsp;</td>
        <td style="border-bottom:none;border-left:none;border-right:none;border-top:none;">&nbsp;</td>
        <td style="border-bottom:none;border-left:none;border-right:none;border-top:none;">&nbsp;</td>
        <td style="border-bottom:none;border-left:none;border-right:none;border-top:none;">&nbsp;</td>
        <td style="border-bottom:none;border-left:none;border-right:none;border-top:none;">&nbsp;</td>
        <td style="border-bottom:none;border-left:none;border-right:none;border-top:none;">&nbsp;</td>
        <td style="border-bottom:none;border-left:none;border-right:none;border-top:none;">&nbsp;</td>
        <td style="border-bottom:none;border-left:none;border-right:none;border-top:none;">&nbsp;</td>
        <td style="border-bottom:none;border-left:none;border-right:none;border-top:none;">&nbsp;</td>
        <td style="border-bottom:none;border-left:none;border-right:none;border-top:none;">&nbsp;</td>
        <td style="border-bottom:none;border-left:none;border-right:none;border-top:none;">&nbsp;</td>
        <td style="border-bottom:none;border-left:none;border-right:none;border-top:none;">&nbsp;</td>
      </tr>
    </tbody>
  </table>
</figure>
<p>Notes : nb_tot = nb_rec (nb_cana) : nb_rec est un cumul, c'est à dire que nb_rec (i+1) = nb_rec(i) + Ni où Ni est le nombre de noeuds affectés à la cana i</p>
<ul>
  <li><i><u>2</u><sup><u>nd</u></sup><u> groupe&nbsp;: instant de pas de temps de calcul et valeurs des grandeurs calculées relatives aux éléments</u></i></li>
</ul>
<p>Le bloc&nbsp; de résultats au temps Ti est structuré comme suit&nbsp;:</p>
<figure class="table">
  <table style="border-bottom:none;border-left:none;border-right:none;border-top:none;">
    <tbody>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:113.45pt;">Ligne 1</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt none windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:92.15pt;">Ti</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt none windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:92.15pt;" colspan="2">&nbsp;</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt none windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:92.2pt;" colspan="2">&nbsp;</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt none windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:0cm 5.4pt;vertical-align:top;width:90.4pt;">&nbsp;</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:113.45pt;">Ligne 2</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:95.9pt;" colspan="2">Z(1)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:90.3pt;" colspan="2">Q(1)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:90.3pt;">&nbsp;</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:90.4pt;">&nbsp;</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:113.45pt;">Ligne3</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:95.9pt;" colspan="2">Z(2)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:90.3pt;" colspan="2">Q(2)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:90.3pt;">&nbsp;</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:90.4pt;">&nbsp;</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:113.45pt;">&nbsp;</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:366.9pt;" colspan="6">&nbsp;</td>
      </tr>
      <tr>
        <td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;padding:0cm 5.4pt;vertical-align:top;width:113.45pt;">Ligne 1+Numel</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:95.9pt;" colspan="2">Z(Ntot)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:90.3pt;" colspan="2">Q(Ntot)</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:90.3pt;">&nbsp;</td>
        <td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:0cm 5.4pt;vertical-align:top;width:90.4pt;">&nbsp;</td>
      </tr>
      <tr>
        <td style="border-bottom:none;border-left:none;border-right:none;border-top:none;">&nbsp;</td>
        <td style="border-bottom:none;border-left:none;border-right:none;border-top:none;">&nbsp;</td>
        <td style="border-bottom:none;border-left:none;border-right:none;border-top:none;">&nbsp;</td>
        <td style="border-bottom:none;border-left:none;border-right:none;border-top:none;">&nbsp;</td>
        <td style="border-bottom:none;border-left:none;border-right:none;border-top:none;">&nbsp;</td>
        <td style="border-bottom:none;border-left:none;border-right:none;border-top:none;">&nbsp;</td>
        <td style="border-bottom:none;border-left:none;border-right:none;border-top:none;">&nbsp;</td>
      </tr>
    </tbody>
  </table>
</figure>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p style="text-align:center;">&nbsp;</p>
