<!--
title: Lancer les simulations
description: 
published: true
date: 2023-11-08T09:32:44.632Z
tags: 
editor: ckeditor
dateCreated: 2022-10-16T13:45:20.101Z
-->

<h1>Lancement des simulations</h1>
<p>Les simulations sont lancées par un outil “Traitement” de QGIS, nommé “simulate”.</p>
<p>Deux accès sont possibles pour “simulate” :</p>
<ul>
  <li>Via la barre d'outils d'expresseau, bouton “Lancer le calcul”</li>
  <li>Via l'outil "simulate" disponible dans la boite à outils de traitement de QGIS, dans le menu déroulant “expresseau”</li>
</ul>
<p>Dans les deux cas, c'est la même interface qui s'ouvre.</p>
<h2>Lancer la simulation du scénario courant</h2>
<p>Lorsque l'interface de “simulate” s'ouvre, avec les champs suivants renseignés ainsi :</p>
<ul>
  <li><u>Project / Projet</u> : nom du projet courant</li>
  <li><u>Scénario </u>: nom du scénario courant</li>
  <li><u>Postraitement / Postprocess </u>: coché ou non en fonction de l'état de la case dans la barre d'outils d'expresseau</li>
  <li><u>Number of process / Nombre de processeurs</u> : 2 par défaut</li>
</ul>
<figure class="image"><img src="/simulate_param.png"></figure>
<h3>Post-traitement / Postprocess</h3>
<p>Il s'agit de l'option permettant de lancer ou non la cartographie des résultats. Si l'option n'est pas cochée, le post-traitement n'est pas lancé mais il est toujours possible de le lancer le post-traitement sans relancer la simulation, simplement en cochant l'option dans la barre d'outils d'express'eau.</p>
<h3>Number of process / Nombre de processeurs</h3>
<p>Il s'agit du nombre de processeurs utilisés pour les calculs. Comme indiqué, cette option n'est disponible que pour les modes de calcul concernés par des simulations en séries (DECI et criticité des casses).</p>
<h3>Lancement de la simulation</h3>
<p>Cliquer sur “Exécuter”.</p>
<p>La simulation est lancée et les messages de suivi défilent dans le journal dans l'ordre suivant :</p>
<ul>
  <li>version des briques utilisées (QGIS, code, Qt, Python, GDAL, GEOS, etc)</li>
  <li>Paramètres de “simulate”</li>
  <li>Écriture des fichiers pour le moteur de calcul</li>
  <li>Lancement de l'exécutable xeaugen qui prépare les calculs</li>
  <li>Lancement de l'exécutable xeau qui réalise les calculs</li>
  <li>Déroulement des calculs avec :<ul>
      <li>Une phase d'équilibrage du réseau, sorte de “mise en eau initale”</li>
      <li>Une phase de calcul transitoire (sauf pour les simulations en permanent).</li>
    </ul>
  </li>
</ul>
<p>Lors de la phase de calcul transitoire, chaque pas de temps fait l'objet d'une ligne d'écriture. Comme le calcul a un pas de temps adaptatif, chaque ligne renseigne quel nœud contrôle le pas de temps. Chaque ligne contient donc :</p>
<ul>
  <li>le temps (heures) depuis le début de la simulation</li>
  <li>le pas de temps dt(sec) qui est le pas de temps retenu pour le calcul, au regard de la variable de pression maximale sur le réseau</li>
  <li>le modèle et l'identifiant du nœud qui contrôle le pas de temps (NB : l'identifiant correspond à l'id du noeud dans la couche user_nod d'express'eau ou à un id fictif pour les noeuds fictifs crées par la simulation en amont et en aval des réservoirs<sup>1</sup>)</li>
  <li>le dz sur ce nœud</li>
</ul>
<p><sup>1</sup><span class="text-tiny">dans le cas, pour savoir à quel réservoir cela correspond, il faudra se référer à la couche “slowdown” dans la partie “warnings” des résultats synthétiques qui géolocalisera le noeud fictif en question.</span></p>
<figure class="image"><img src="/simulate_journal.png"></figure>
<p>&nbsp;</p>
<h2>Lancer une ou plusieurs simulations avec “simulate”</h2>
<p>L'onglet de paramétrage de “simulate” permet de sélectionner un autre projet et/ou un autre scénario que le scénario actif.</p>
<p>Par ailleurs, l'option “Executer comme processus de lot” permet de paramétrer un lot de simulations, que ce soit pour le projet en cours ou un autre projet.</p>
<p>Cette fonction est utile dans des cas divers et notamment pour la DECI et la criticité des casses, afin de lancer un lot le scénario d'initialisation et les scénarios qui redémarrent à chaud à partir de celui-ci, comme dans l'exemple ci-dessous.</p>
<figure class="image"><img src="/simulate_lots.png"></figure>
<p>&nbsp;</p>
