<!--
title: Modes de calculs disponibles
description: 
published: true
date: 2025-01-28T10:39:15.120Z
tags: 
editor: ckeditor
dateCreated: 2021-05-18T16:28:52.105Z
-->

<p>Cette page traite des différents <strong><u>mode de calcul disponibles.</u></strong></p>
<p>Pour plus de précision sur le paramétrage d'une simulation, se référer à la page dédiée : <a href="/pametrage_simulation">Paramétrage d'une simulation&nbsp;</a></p>
<p>Pour plus de précision sur l'algorithme de calcul de ces modes, se référer à la page du manuel dédiée ici : <a href="/calculs/hydrau">Calculs hydrauliques</a> &nbsp;et <a href="/calculs/qualite">Modélisation de la qualité</a></p>
<h1>Modes de calcul disponibles</h1>
<p>Express-Eau propose quatre modes distincts de calcul&nbsp;:&nbsp;</p>
<ol>
  <li><i>Régime établi </i>: &nbsp;calcul en régime permanent.</li>
  <li><i>Transitoire</i> : calcul en régime transitoire évolutif, la compressibilité de l’eau est négligée.</li>
  <li><i>Transitoire rapide</i> : calcul des régimes transitoires rapides, tenant compte de la compressibilité de l’eau et de l’élasticité des matériaux – simulation des coups de bélier.</li>
  <li><i>Défense extérieure contre l'incendie - débit nominal</i> : calcul en série du tirage sur tous les hydrants à leur débit nominal.</li>
  <li><i>Défense extérieure contre l'incendie - débit à 1 bar</i> : calcul en série du tirage sur tous les hydrants à une pression de 1 bar.</li>
  <li><i>Criticité des casses</i> : calcul en série de la casse de toutes les canalisation.</li>
</ol>
<p>Le mode de calcul est choisi via le paramétrage du scénario <code>Express'eau → Scénarios</code>dans l'onglet <code>Paramétrage des calculs</code>.</p>
<h2>Mode “Régime établi”</h2>
<p>Ce mode de calcul est un mode<u> d’équilibrage en régime établi </u>dans lequel la variable «&nbsp; temps&nbsp;» n’intervient pas. Dans ce mode le fluide est supposé incompressible.</p>
<p>Ce mode est utilisé pour dimensionner un réseau dans des conditions de régime établi.</p>
<h2>Mode “Transitoire”</h2>
<p>Ce mode de calcul est un mode est un calcul d’évolution en <u>régime transitoire graduellement variable</u>.&nbsp;</p>
<p>Dans ce mode le fluide est supposé incompressible.</p>
<p>Le pas de temps de calcul est de l’ordre de la minute et se paramètre via le paramétrage du scénario <code>Express'eau → Scénarios</code>dans l'onglet <code>Paramétrage des calculs</code>.</p>
<p>Ce mode est utilisé pour simuler le comportement d’un réseau sur un cycle d'un à plusieurs jours et analyser les problèmes d’alimentation, d’insuffisances hydrauliques et de sécurité d’approvisionnement d’un réseau, etc.</p>
<h2>Mode “Transitoire&nbsp; rapide”</h2>
<p>Ce mode de calcul est simule le comportement du réseau en <u>régime transitoire rapidement variable</u>, suite à des manœuvres rapides d’organes&nbsp;: arrêt brutal d’une pompe, fermeture&nbsp; rapide d’une vanne, etc.</p>
<p>Dans ce mode la compressibilité de l’eau&nbsp;et la déformation des canalisations sont prises en compte, ce qui génère des ondes de pression de forte célérité (de l’ordre de 1000 m/s).&nbsp;</p>
<p>Le pas de temps de calcul est de l’ordre du centième de seconde et la durée de la simulation est de l’ordre de la minute et se paramètre via le paramétrage du scénario <code>Express'eau → Scénarios</code>dans l'onglet <code>Paramétrage des calculs</code>.</p>
<p>Les organes dont on veut simuler la manœuvre rapide se paramètrent &nbsp;dans le scénario de calcul <code>Express'eau → Scénarios</code>, onglet <code>Options de calcul</code> :</p>
<figure class="image image_resized" style="width:72.84%;"><img src="/param_cbel.png"></figure>
<p>Ce mode est utilisé pour analyser la sécurité physique des réseaux face au risque de coup de bélier et dimensionner les installations de protection anti bélier.</p>
<h2>Modes de calcul DECI et criticité des casses</h2>
<p>Ce mode de calcul permet d'effectuer en série les simulations de tirage sur les hydrants ou de casse des canalisations et de générer des résultats synthétiques.</p>
<p>Ces modes se sélectionnent via le paramétrage du scénario <code>Express'eau → Scénarios</code>dans l'onglet <code>Paramétrage des calculs</code>.</p>
<p>Il existe 2 modes de calcul DECI et un mode de calcul criticité des casses :</p>
<ul>
  <li><u>DECI - débit nominal</u> : permet d’effectuer un tirage au débit nominal pendant la durée requise sur tous les hydrants présents dans la couche.</li>
  <li><u>DECI - débit à 1 bar</u> : permet d’effectuer un tirage à un débit croissant et de retenir le débit atteint quand la pression franchi la limite de 1bar, et ce sur tous les hydrants présents dans la couche. <mark class="pen-red">Ce mode est encore expérimental.&nbsp;</mark></li>
  <li><u>Criticité des casses</u> : permet d’effectuer&nbsp;une simulation avec la canalisation fermée (situation correspondant au fait qu'il y a une casse et que les vannes de réseau sont fermées de part et d'autre pour permettre la réparation) et ce sur toutes les canalisations présentes dans la couche</li>
</ul>
<h2>Mode avec calcul de la qualité</h2>
<p>Les 2 premiers modes de calcul hydraulique peuvent comporter, ou non, la modélisation de la qualité. Dans ce cas, les calculs hydrauliques et qualité sont menés en même temps.</p>
<p>Ce choix se paramètre dans le paramétrage du scénario <code>Express'eau → Scénarios → Settings</code>dans l'onglet <code>Water quality</code>.</p>
<p>Expresseau dispose de deux options :</p>
<ul>
  <li>La modélisation de traceurs (chlore, trihalométhane, traceur passif et temps de séjour)</li>
  <li>La modélisation de l'origine de l'eau (de 1 à 8 ressources)</li>
</ul>
<figure class="image image_resized" style="width:84.92%;"><img src="/param_quality.png"></figure>
<p>Dans les deux cas, il est fortement recommandé de sélectionner le raffinement de la discrétisation.</p>
<figure class="image image_resized" style="width:50.52%;"><img src="/refine_discretisation.png"></figure>
<p>&nbsp;</p>
