<!--
title: Modélisation de la qualité
description: 
published: true
date: 2022-07-08T18:25:54.556Z
tags: 
editor: ckeditor
dateCreated: 2021-05-18T16:30:50.500Z
-->

<h1>Formulation de base</h1>
<p>La variable descriptive d’un paramètre de qualité est la concentration C du réactant (masse/volume). Dans EXPRESS-EAU ce paramètre est défini à chaque nœud de calcul et à l’intérieur d’un élément capacitif tel qu’un tronçon de canalisation ou un réservoir.&nbsp;</p>
<p>Les réactants auxquels on s’intéresse en priorité sont :</p>
<ul>
  <li>le chlore</li>
  <li>le trihalométhane</li>
  <li>un traceur passif</li>
  <li>le temps de séjour (ce dernier paramètre n’est pas à proprement parlé un réactant mais il obéit aux même lois de transport qu’un paramètre physico chimique).</li>
</ul>
<h2>Equation de transport le long d'une canalisation</h2>
<p>Trois mécanismes gouvernent l’évolution du paramètre Ci(x,y) à l’intérieur d’un tronçon :</p>
<ol>
  <li>transport par convection</li>
  <li>transport par dispersion</li>
  <li>réaction physico chimique</li>
</ol>
<p>Le transport par dispersion (2) est négligé.</p>
<figure class="image"><img src="https://xpresseau.hydra-software.net/equations_element/eq_qualit%C3%A9_cana.png"></figure>
<p>&nbsp;</p>
<h2>Equation de transport dans les autres liaisons</h2>
<p>Le flux de matière est conservé à travers les autres liaisons.</p>
<h2>Equation de transport dans un élément nodal</h2>
<p>Un élément nodal est généralement associée à un débit sortant ou entrant dans le réseau.</p>
<p>- Cas d’un débit sortant : le flux sortant est égal à : F<sub>L</sub> = Q<sub>L</sub> x C<sub>A</sub>, où C<sub>A</sub> est la concentration au nœud A.</p>
<p>- Cas d’un débit entrant : le flux entrant est une donnée connue, définie par l’utilisateur : F<sub>L</sub> = F<sub>0</sub>.</p>
<h2>Cas particulier du réservoir</h2>
<p>EXPRESS-EAU propose plusieurs modèles de mélange pour les réservoirs. Ces modèles sont détaillés à la page <a href="https://xpresseau.hydra-software.net/modelisation/Reservoir_Node">reservoir node</a>.</p>
<h1>Modélisation des réactions physico-chimiques</h1>
<p>Les réactions chimiques altérant la masse de réactant peuvent agir :</p>
<ul>
  <li>dans la masse d’eau,</li>
  <li>le long des parois.</li>
</ul>
<p>La fonction f de l’équation est décomposée en deux fonctions : f = f1 + f2</p>
<h2>Réaction dans la masse d'eau</h2>
<p>Les éléments concernés sont les objets de modélisation capacitifs : tronçons de canalisation et réservoirs. La fonction f1 de l’équation dépend du réactant. La liste ci-dessous précise son expression pour les réactants les plus utilisés :</p>
<ul>
  <li>Chlore : f1 = -KB<sub>CL</sub> x C où KB<sub>CL</sub> est la constante de réaction.</li>
  <li>Trihalométhane : f1 = KB<sub>THM </sub>x (C-C<sub>L</sub>) où KB<sub>THM</sub> est la constante de réaction et C<sub>L</sub> la concentration limite.</li>
  <li>Traceur passif : f1 = 0</li>
  <li>Temps de séjour : f1 = 1</li>
</ul>
<h2>Réaction aux parois</h2>
<p>La réaction aux parois s’applique aux tronçons de canalisation.&nbsp;</p>
<p>La fonction f2 pour le chlore s’écrit : f2 = -4 KW<sub>CL</sub> x C</p>
<p>Où D est le diamètre de la canalisation et KW<sub>CL </sub>la constante de réaction aux parois, de la dimension d’une vitesse.</p>
<h1>Calcul de la provenance de l'eau</h1>
<p>Cette fonction se ramènent à N calcul de simulations de qualité, N étant le nombre de sources : dans une simulation une source est affectée d’une concentration unité les concentrations des autres sources sont mises égales à 0. Le calcul est effectué en séquence pour toutes les sources. En fin de calcul on obtient en chaque nœud et à chaque pas de temps la fraction de concentration en provenance de chaque source. De plus la somme des fractions est en principe égale à 1 si toutes les sources du modèle ont été sélectionnées.Discrétisation des équations</p>
<h2>Tronçons de canalisation</h2>
<p>L’équation (5) est réécrite sous forme intégrale&nbsp;:</p>
<figure class="image"><img src="/qualdisceq5.png"></figure>
<p>La forme de l’équation discrétisée dépend du sens de l’écoulement aux nœuds extrémités A et C&nbsp;; dans le cas du schéma ci-dessus (Q<sub>A</sub> &gt; 0 et Q<sub>C</sub> &gt; 0) les équations sont discrétisées comme suit&nbsp;:</p>
<figure class="image"><img src="/eq7et8.png"></figure>
<figure class="image"><img src="/jusquaeq10.png"></figure>
<h2>Autres singalarités</h2>
<p>Des traitements analogues à ceux présentés ci-dessus conduisent pour chaque singularité bi nodale à écrire un système local linéaire de la forme&nbsp;:</p>
<figure class="image"><img src="/eq11eq12.png"></figure>
<p>Cette formulation nécessite de considérer tous les cas de figures relatifs la répartition des débits aux nœuds extrémités de chaque élément&nbsp;: on raisonne donc localement en représentation lagrangienne de l’écoulement.</p>
<h1>Assemblage des équations discrétisées et méthode de résolution</h1>
<p>Les variables «flux» sont &nbsp;éliminées &nbsp;en écrivant que la somme algébrique des flux aboutissant à un nœud donné est nulle. On obtient ainsi un système matriciel global de la forme :</p>
<figure class="image"><img src="/eq13.png"></figure>
<p>&nbsp;&nbsp;Où F<sub>i&nbsp;</sub>désigne un flux sortant ou rentrant d’une liaison connectée au nœud.</p>
<p>La substitution des équations &nbsp;des liaisons (10), (11), (12) dans les équations aux nœuds &nbsp;(13) fournit le système matriciel global suivant&nbsp;:</p>
<figure class="image"><img src="/eq14.png"></figure>
<p>&nbsp; où&nbsp;:</p>
<ul>
  <li>K est une matrice carrée de rang N, N étant le nombre total de nœuds du modèle,</li>
  <li>f est un vecteur force de dimension N,</li>
  <li>dC est la variation de concentration à chaque noeud entre deux pas de temps.</li>
</ul>
<p>Le système matriciel (14) est résolu à l’aide du&nbsp; solveur «&nbsp;Pardiso&nbsp;» réputé pour sa précision et sa très grande rapidité.</p>
<p>La connaissance du vecteur [dC] permet de calculer les nouvelles concentrations (C) à chaque nœud au temps t<sub>n+1</sub>, puis les concentrations moyennes dans chaque liaison à l’aide des équations (9).</p>
<p>Avec cette méthode l'équation de continuité des flux aux nœuds est rigoureusement satisfaite à chaque itération.</p>
<p>A noter que&nbsp;:</p>
<ul>
  <li>La structure de la matrice K de l’équation (14) est la même que celle de la matrice K de l’équation (3)</li>
  <li>La matrice K&nbsp;ne dépend pas du réactant, seul le membre de droite dépend du réactant.</li>
  <li>Le calcul des concentrations est exécuté à chaque pas de temps de calcul, juste après le calcul hydraulique.</li>
</ul>
<p>Ces propriétés sont mises à profit pour optimiser le code de calcul lorsque les calculs de qualité sont effectués en plus des calculs hydrauliques.</p>
<h1>Mode de calcul et pas de discrétisation spatial</h1>
<p>Le module qualité fonctionne uniquement avec les modes de calcul 1 et 3&nbsp;: régime temporel graduellement variable. Au démarrage du calcul en régime transitoire les concentrations en tout point du réseau sont égales à 0. Il est donc nécessaire de prévoir une durée d’établissement des conditions de régime établi pour les concentrations dans la durée totale de simulation.</p>
<p>Afin de limiter les effets&nbsp;de diffusion numérique le pas de discrétisation le long d’un tronçon de canalisation est limité à 20 m (comme indiqué plus haut) lorsque l’option de calcul de qualité est activée&nbsp;: le programme ajoute automatiquement des nœuds de calculs intermédiaires pour reproduire correctement le transport des traceurs par advection.</p>
<h1>Calcul de la provenance de l’eau</h1>
<p>Cette fonction, également disponible dans Express-Eau, se ramène à N calculs de simulations de&nbsp;qualité, N étant le nombre de sources&nbsp;: dans une simulation une source est affectée d’une concentration unité, les concentrations des autres sources sont mises égales à 0. Le calcul est effectué en séquence pour toutes les sources. En fin de calcul on obtient en chaque nœud et à chaque pas de temps la fraction de concentration en provenance de chaque source. De plus la somme des fractions est en principe égale à 1.</p>
<p>&nbsp;</p>
