<!--
title: Objet Ballon anti-bélier ("Accumulator")
description: 
published: true
date: 2022-07-08T15:45:47.365Z
tags: 
editor: ckeditor
dateCreated: 2021-05-20T14:24:43.680Z
-->

<h2>Définition</h2>
<figure class="image"><img src="/vues_edition/pressure_accu.png"></figure>
<p>&nbsp;</p>
<h2>Données de l'élément</h2>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2>Equation</h2>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
