<!--
title: Objet Canalisation ("Pipe")
description: 
published: true
date: 2024-10-11T08:47:41.606Z
tags: 
editor: ckeditor
dateCreated: 2021-05-20T14:17:56.976Z
-->

<h2>Définition</h2>
<p>La couche <i><strong>pipe</strong></i> contient les canalisations du réseau.</p>
<figure class="image image_resized" style="width:68.18%;"><img src="/new_form_pipe.png"></figure>
<h2>Données de l'élément</h2>
<p>Les paramètres d'une canalisation sont les suivants :</p>
<ul>
  <li>Nom : nom unique</li>
  <li>Modèle : modèle auquel appartient l'élément</li>
  <li>Nœud amont : nœud amont de la canalisation (détecté automatiquement)</li>
  <li>Nœud aval : &nbsp;nœud aval de la canalisation (détecté automatiquement)</li>
  <li>Diamètre (m) : diamètre intérieur de la canalisation</li>
  <li>Epaisseur (m) : épaisseur de la paroi de la canalisation (utilisée uniquement en mode transitoire rapide)</li>
  <li><strong>Longueur</strong>
    <ul>
      <li>Longueur forcée ? : oui/non. Si ce n'est pas le cas, c'est la longueur géométrique qui est utilisée.</li>
      <li>Longueur forcée (m)</li>
    </ul>
  </li>
  <li><strong>Autres paramètres :</strong>
    <ul>
      <li>Ouverte ? Permet d'ouvrir ou fermer la canalisation</li>
      <li>Feeder ? Permet d'interdire le raccordement des points de consommations sur les canalisations de transport ou de refoulement</li>
      <li>Débitmètre sur la canalisation ? Permet de spécifier s'il y a un débitmètre (sert à la sectorisation)</li>
      <li>Calcul du temps de contact ? Permet de spécifier si cette canalisation intervient dans le calcul du temps de contact (CVM par exemple)</li>
    </ul>
  </li>
  <li><strong>Matériau</strong>
    <ul>
      <li>Matériau</li>
      <li>Elasticité</li>
    </ul>
  </li>
  <li><strong>Rugosité : rugosité de la canalisation (mm)</strong>
    <ul>
      <li>Rugosité forcée ? oui/non. Si ce n'est pas le cas, c'est la rugosité du matériau qui est utilisée.</li>
      <li>Rugosité forcée (mm)</li>
    </ul>
  </li>
  <li><strong>Célérité : célérité de l'onde dans la canalisation </strong>(utilisée uniquement en mode transitoire rapide)<ul>
      <li>Célérité forcée ? : oui/non. Si ce n'est pas le cas, elle est calculée automatiquement à partir du matériau et de son épaisseur.</li>
      <li>Célérité forcée (m/s)</li>
    </ul>
  </li>
</ul>
<p>&nbsp;</p>
<h2>Equations</h2>
<p><strong><u>Equation de continuité :</u></strong></p>
<figure class="image"><img src="/eq_continuite_pipe.png"></figure>
<p><strong><u>Equation de quantité de mouvement :</u></strong></p>
<figure class="image"><img src="/eq_qte_mouvement_pipe.png"></figure>
<ul>
  <li>u : vitesse de l’écoulement,</li>
  <li>Z : cote piézométrique</li>
  <li>D : diamètre de la canalisation</li>
  <li>Lambda : Coefficient de perte de charge, calculé en fonction de la rugosité à l’aide de la formule de Colebrook,</li>
  <li>G : accélération de la gravité,</li>
  <li>c : célérité de l’onde.</li>
</ul>
<p><strong><u>Formule de Colebrook :</u></strong></p>
<figure class="image"><img src="/colebrook.png"></figure>
<p><strong><u>Expression pour la célérité de l’onde en l’absence d’état gazeux dans l’eau :</u></strong></p>
<figure class="image"><img src="/eq_celerite_pipe.png"></figure>
<ul>
  <li>rho : masse volumique de l’eau,</li>
  <li>K : compressibilité volumique de l’eau (N/m2)</li>
  <li>E : module d’élasticité de la paroi de la conduite (N/m2)</li>
  <li>D : diamètre de la conduite</li>
  <li>e : épaisseur de la conduite.</li>
</ul>
