<!--
title: Objet Cheminée d'équilibre ("Surge_Tank")
description: 
published: true
date: 2022-07-08T15:45:23.619Z
tags: 
editor: ckeditor
dateCreated: 2021-05-20T14:23:34.704Z
-->

<h2>Définition</h2>
<p>&nbsp;</p>
<figure class="image"><img src="/vues_edition/surge_tank.png"></figure>
<h2>Données de l'élément</h2>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2>Equation</h2>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
