<!--
title: Objet Injection de débit ("Flow_injection") et de chlore ("chlorine_injection")
description: 
published: true
date: 2024-09-18T09:25:58.546Z
tags: 
editor: ckeditor
dateCreated: 2021-05-20T14:28:12.698Z
-->

<p>&nbsp;</p>
<h1>Flow injection</h1>
<h2>Définition</h2>
<p>La couche <i><strong>flow injection</strong></i> contient les éléments d'injection de débit.</p>
<figure class="image"><img src="/edit_qinj.png"></figure>
<h2>&nbsp;</h2>
<h2>Données de l'élément</h2>
<p>Les paramètres à renseigner sont les suivants :</p>
<ul>
  <li>Débit injecté (m3/h) : débit injecté s'il est positif, soutiré s'il est négatif.</li>
  <li><strong>Paramètres de qualité</strong> (uniquement utilisé en mode calcul de qualité activé)<ul>
      <li>Concentration en chlore (mg/l)</li>
      <li>Concentration en THM (mg/l)</li>
      <li>Concentration en traceur passif (mg/l)</li>
      <li>Temps de séjour (h)</li>
      <li>Temps de contact (h)</li>
    </ul>
  </li>
</ul>
<h2>Equation</h2>
<p>Si ( Z – Zr) &gt; P<sub>c</sub> alors Q<sub>L</sub> = Q<sub>0</sub></p>
<p>Si 0 &lt; ( Z – Zr) &lt; P<sub>c </sub>alors Q<sub>L</sub> = Q<sub>0 </sub>x √(P/P<sub>c</sub>)</p>
<p>Si &nbsp;( Z – Zr) &lt; 0 alors Q<sub>L</sub> =&nbsp;0</p>
<p>Zr est le cote radier au nœud, P<sub>c</sub> est une pression minimale de service définie par l’utilisateur dans le paramétrage des alarmes (en général P<sub>c</sub> = 20 m). Le débit prélevé est donc dégradé en cas de pression disponible insuffisante.</p>
