<!--
title: Objet Clapet anti-retour ("Check Valve")
description: 
published: true
date: 2022-07-08T16:09:14.837Z
tags: 
editor: ckeditor
dateCreated: 2021-05-20T14:20:56.822Z
-->

<h2>Définition</h2>
<p>La couche <i><strong>check_valve</strong></i> contient les clapets anti-retour.</p>
<p>Un clapet anti-retour est un élément qui s'ouvre à partir d'une certaine différence de pression entre l'amont et l'aval, ce qui empêche par ailleurs tout débit dans le sens aval vers amont.</p>
<figure class="image"><img src="/vues_edition/check_valve.png"></figure>
<h2>Données de l'élément</h2>
<ul>
  <li>Section (m²): Section de l'orifice du clapet lorsqu'il est complètement ouvert.</li>
  <li>Coefficient de perte de charge : Coefficient de perte de charge à travers le clapet dans le sens amont-aval, lorsque le clapet est en position ouverte.</li>
  <li>Pression d'ouverture (mCE) : Pression d’ouverture. Le clapet s’ouvre lorsque la pression différentielle est atteinte.</li>
  <li>Mode de fermeture : Mode de fermeture du clapet. Deux modes : instantané ou progressif.</li>
  <li>Coefficient Cd &nbsp;: Coefficient de débit qui s'applique lors de la fermeture du clapet. Si le mode de fermeture est instantané, le coefficient Cd n'est pas utilisé. Cd_coef = Vr/dv/dt&nbsp;: traduit le comportement du clapet supposé suivre une courbe linéaire&nbsp;: vitesse maximale du fluide au moment de la fermeture du clapet versus décélération du fluide.</li>
</ul>
<h2>Equation</h2>
<figure class="image"><img src="/equations_element/eq_clapet.png"></figure>
<ul>
  <li>Q : débit à travers l’élément,</li>
  <li>S : section de référence,</li>
  <li>K1 : coefficients de perte de charge rapportés à la section de référence.</li>
  <li>KB : valeur très grande implantée dans le programme.</li>
</ul>
<p>Remarque : On peut spécifier (dans le fichier de régulation externe) une position d’ouverture partielle du clapet à l’aide du paramètre ALPS défini comme suit :</p>
<p>ALPS = S/S0 où S est la section d’ouverture partielle du clapet. Le coefficient K1 devient alors : K1' = K1 / ALPS²</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
