<!--
title: Objet Nœud ("User_Node")
description: 
published: true
date: 2022-07-08T16:05:09.604Z
tags: 
editor: ckeditor
dateCreated: 2021-05-20T14:16:26.736Z
-->

<h2>Définition</h2>
<p>La table <i><strong>user_node</strong></i> contient les nœud du réseau.</p>
<figure class="image"><img src="/vues_edition/user_node.png"></figure>
<h2>Données de l'élément</h2>
<p>Les données attributaires sont :</p>
<ul>
  <li>Nom : doit être unique.</li>
  <li>Modèle : nom du modèle auquel appartient le nœud.</li>
  <li>Cote TN [mNGF] : cote du nœud.</li>
  <li>Profondeur du réseau : facultatif, peut être laissée à 0.</li>
  <li>Q0 [m3/h] : débit constant soutiré. Ce débit répond à la même règle que les consommations qui ne sont pas assouvies si la pression est inférieure à la pression minimale de service.</li>
  <li>Poteau incendie : Inusité (#versionPRO)</li>
  <li><strong>Consommation domestique</strong>
    <ul>
      <li>Courbe de modulation : courbe de modulation horaire appliquée aux consommations domestiques allouées au nœud. Paramétrable en série dans le gestionnaire de secteurs de consommation.</li>
      <li>Secteur de consommation : secteur de consommation auquel appartient le nœud. Champ renseigné automatiquement par croisement géographique avec la couche des secteurs de consommation.</li>
    </ul>
  </li>
  <li><strong>Consommation industrielles</strong>
    <ul>
      <li>Courbe de modulation : courbe de modulation horaire appliquée aux consommations industrielles allouées au nœud. Paramétrable en série dans le gestionnaire de secteurs de consommation.</li>
    </ul>
  </li>
</ul>
<p>&nbsp;</p>
<h2>Equation</h2>
<p>Z<sub>radier</sub> = Z<sub>TN</sub> - profondeur</p>
<p>Soit Z<sub>piezo</sub> la cote piezométrique de l'eau au nœud, la pression au nœud est &nbsp;P = &nbsp;Z<sub>piezo</sub> - Z<sub>radier</sub>.&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
