<!--
title: Objet Perte de charge ("Headloss")
description: 
published: true
date: 2022-07-08T16:13:07.044Z
tags: 
editor: ckeditor
dateCreated: 2021-05-20T14:22:12.153Z
-->

<h2>Définition</h2>
<p>La couche <i><strong>headloss </strong></i>contient les éléments perte de charge.</p>
<figure class="image"><img src="/vues_edition/headloss.png"></figure>
<h2>Données de l'élément</h2>
<p>Les paramètres à renseigner sont les suivants :</p>
<ul>
  <li>Section (m²) : Section de référence</li>
  <li>Coefficient de perte de charge 1 : Coefficient de perte de charge dans le sens amont-aval</li>
  <li>Coefficient de perte de charge 1 : Coefficient de perte de charge dans le sens aval-amont</li>
</ul>
<p>&nbsp;</p>
<h2>Equation</h2>
<figure class="image"><img src="/equations_element/eq_borda.png"></figure>
<ul>
  <li>Z<sub>A</sub> et Z<sub>C</sub> : nœuds amont et aval</li>
  <li>Q : débit à travers l’élément,</li>
  <li>S : section de référence,</li>
  <li>K1, K2 : coefficients de perte de charge rapportés à la section de référence.</li>
</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>
