<!--
title: Modélisation de la défense incendie
description: 
published: true
date: 2023-01-16T15:47:23.325Z
tags: 
editor: ckeditor
dateCreated: 2021-05-18T15:54:19.927Z
-->

<h1>Introduction</h1>
<p>Le module de défense incendie permet de répondre aux questions de conformité des poteaux incendie.</p>
<h1>Couche des points eau incendie</h1>
<p>La couche <code>fire_hydrant</code> contient les points eau incendie.</p>
<p>Les champs de la couche <code>Fire hydrant</code>sont les suivants :</p>
<ul>
  <li>name : nom de l'hydrant qui doit être unique.</li>
  <li>comment : champs commentaire facultatif.</li>
  <li>diameter : Diamètre de l'hydrant.</li>
  <li>theoritical_flow_m3h : Débit horaire théorique de l'hydrant.</li>
  <li>draw_time_h : Durée de soutirage de l'hydrant.</li>
</ul>
<p>Ils peuvent être créés à la main ou importés via une couche Shape. Pour cela, il suffit normalement de nommer les colonnes de votre couche Shape comme les colonnes de la couche <code>fire_hydrant </code>puis dans QGIS de sélectionner vos hydrants puis de les copier-coller de la couche Shape vers la couche <code>fire_hydrant</code>.</p>
<blockquote>
  <p>Si des difficultés sont rencontrées, le mode opératoire pour les importer via une requête SQL est le suivant :</p>
  <ul>
    <li>Ouvrir le gestionnaire de BD de QGIS.</li>
    <li>Se rendre dans la BD dans laquelle vous souhaitez importer les hydrants.</li>
    <li>Cliquer sur “Import de couche/Fichier” et importer votre fichier shape. Dans ce cas, le nom des colonnes et leur ordre n'importe pas.</li>
    <li>Lancer la requête suivante <i>(dans l'exemple le Shape s'appelle bipi_import et contient les colonnes nom, diametre, debit, duree_tirage, commentaires)</i></li>
  </ul>
  <p><code>INSERT INTO api.fire_hydrant (name, geom, diameter, theoritical_flow_m3h, draw_time_h, comment) select nom, geom, diametre, debit, duree_tirage, commentaires from api.bipi_import</code></p>
</blockquote>
<p>La logique d'allocation aux nœuds des soutirages incendie est la même que pour les <code>Water delivery Point</code> (nœud le plus proche en passant par la canalisation la plus proche).</p>
<h1>Option de modélisation des soutirages sur les hydrants</h1>
<p>Le module de modélisation de la défense extérieure contre l'incendie dispose de plusieurs options.&nbsp;</p>
<h2>Option n°1 : pression statique</h2>
<p><u>Comment paramétrer cette option</u> : il n'y a rien à faire, ces résultats sont produits pour tous les scénarios.</p>
<p>Pour tous les scénarios de calcul est produite une couche comportant la pression statique au niveau des hydrants. Cette sortie cartographique apparait dans le sous-groupe de couche “Défense extérieure contre l'incendie” des résultats synthétiques.</p>
<h2>Option n°2 : Test pression dynamique de tous les hydrants en série</h2>
<p><u>Comment paramétrer cette option</u> : dans le gestionnaire de scénario, dans l'onglet paramétrage du calcul, sélectionner l'option “Défense extérieure contre l'incendie”. Pour ces simulations, il convient de procéder à un redémarrage à chaud du calcul, c'est à dire repartir d'une simulation classique (<mark class="marker-yellow">se référer à la page sur le redémarrage à chaud</mark>).</p>
<p><u>Comment lancer le calcul</u> : cette option a la particularité de devoir être lancée via l'outil “Simulate” d'express'eau (<mark class="marker-yellow">se référer à la page sur Simulate</mark>).</p>
<p>Le module lance le tirage de chaque hydrant à son débit théorique pendant la durée théorique de soutirage et produit comme résultat une couche des hydrants avec la pression dynamique minimale pendant le tirage au débit soutiré. Le calcul est fait pour chaque hydrant de façon indépendante.</p>
<blockquote>
  <p><strong>Comment ça marche ?</strong></p>
  <p>Le tirage d'un poteau est contrôlé par un petit fichier de contrôle généré automatiquement et qui indique le début et la fin du tirage ainsi que le débit à partir des paramètres des la couche fire_hydrant. Ces fichiers peuvent être réutilisés dans l'option 3.</p>
</blockquote>
<h2>Option n°3 : Tests d'un ou plusieurs hydrants en même temps.</h2>
<p><u>Prérequis</u> : Sélectionner le ou les hydrants sur lesquels vous souhaitez effectuer un tirage puis cliquez sur <code>Express'eau → distribution → Fichier de régulation à partir des poteaux sélectionnés</code>. Cela génère le fichier de régulation permettant un tirage sur tous les hydrants sélectionnés en même temps.</p>
<p>NB : Si vous souhaitez tirer sur un seul hydrant et que l'option 2 a déjà été lancée, le fichier de contrôle existe déjà mais il est préférable de le régénérer dans un répertoire différent que les répertoire créer pour l'option 2.&nbsp;</p>
<p><u>Comment paramétrer cette option</u> : dans le gestionnaire de scénario, créer un scénario de calcul transitoire avec un redémarrage à chaud du calcul, c'est à dire repartir d'une simulation classique (<mark class="marker-yellow">se référer à la page sur le redémarrage à chaud</mark>) et dans l'onglet <code>régulation et configuration</code>, sélectionner le fichier de contrôle permettant le ou les tirages souhaités.</p>
<p><u>Comment lancer le calcul</u> : le calcul se lance comme une simulation classique.</p>
<p>Le module lance le tirage d'un ou plusieurs hydrants en même temps à leur débit capable à leur débit théorique pendant la durée théorique de soutirage et produit comme résultat les mêmes couches que pour n'importe quelle simulation en régime transitoire.</p>
<p>&nbsp;</p>
