<!--
title: Objet Pompe ("pump")
description: 
published: true
date: 2022-07-08T16:54:55.415Z
tags: 
editor: ckeditor
dateCreated: 2021-05-20T14:21:26.566Z
-->

<h2>Définition</h2>
<p>La couche <i><strong>pump</strong></i> contient les pompes et les surpresseurs du réseau.</p>
<figure class="image"><img src="/vues_edition/pump.png"></figure>
<h2>Données de l'élément</h2>
<p>La paramètres à renseigner sont les suivants :</p>
<ul>
  <li>Courbe de pompe : courbe caractéristique de la pompe.&nbsp;</li>
  <li>Clapet anti-retour : présence d'un clapet anti-retour ou non sur la pompe.</li>
  <li>Vitesse de rotation (rpm) : vitesse de rotation de la pompe correspondant à sa courbe caractéristique.<mark class="pen-red"> Utilisé en mode de calcul transitoire rapide.</mark></li>
  <li>Inertie (kg/m²) : Inertie de la pompe (pompe + moteur). <mark class="pen-red">Utilisé en mode de calcul transitoire rapide.</mark></li>
  <li>Mode de régulation de la pompe : 3 modes de régulation (aucune, régulation du débit, régulation de la pression au refoulement, régulation sur cote démarrage / côté d'arrêt à un nœud du réseau)</li>
  <li>Coefficient de rotation de la pompe : coefficient de réduction de la vitesse de rotation (pour les pompes à vitesse variable)</li>
  <li>Paramètres de régulation (dépendent du mode de régulation) :<ul>
      <li>Aucune régulation : aucun paramètre</li>
      <li>Régulation du débit : débit de consigne</li>
      <li>Régulation de la pression au refoulement : pression de consigne&nbsp;</li>
      <li>Régulation sur cote démarrage / côté d'arrêt à un nœud du réseau : nœud (<i><strong>user_node</strong></i> ou <i><strong>reservoir</strong></i>) de consigne et cote de démarrage et d'arrêt.</li>
    </ul>
  </li>
</ul>
<h3>&nbsp;</h3>
<h3>Courbe caractéristique de la pompe</h3>
<blockquote>
  <p>La courbe de pompe doit respecter les conditions suivantes :</p>
  <p>- Valeurs du tableau Q strictement décroissantes</p>
  <p>- Valeurs du tableau H strictement croissantes</p>
  <p>- Q(Np) = H(1) = 0.</p>
</blockquote>
<p>&nbsp;</p>
<h3>Mode de régulation de la pompe</h3>
<ul>
  <li>Pas de régulation : La pompe fonctionne à vitesse constante selon sa courbe caractéristique.</li>
  <li>Régulation de débit : Il est possible de spécifier un débit de consigne. La pompe est alors régulée en vitesse variable.</li>
  <li>Régulation de pression : Il est possible de spécifier&nbsp;une cote piézométrique de refoulement. La pompe est alors régulée en vitesse variable.</li>
  <li>Démarrage / arrêt : Le fonctionnement de la pompe est asservi au niveau piézométrique d’un nœud de calcul quelconque présent dans le réseau. Il suffit pour cela de renseigner le nom du nœud, puis les paramètres Zarrêt et Zmarche : si la cote d’eau au noeud franchit la valeur Zarrêt la pompe s’arrête. Si cette cote repasse en dessous de la valeur Zmarche la pompe redémarre. Cette fonctionnalité est intéressante pour gérer par exemple le remplissage d’un château d’eau par pompage.</li>
</ul>
<p>&nbsp;</p>
<h2>Equation</h2>
<p>Z<sub>A</sub> - Z<sub>C</sub> = H = f(Q, ALPR)</p>
<ul>
  <li>Z<sub>A</sub> et Z<sub>C </sub>: cotes piézométriques amont et aval de la pompe</li>
  <li>H : charge produite par la pompe</li>
  <li>Q : débit pompé</li>
  <li>ALPR : coefficient de vitesse de rotation de la pompe.</li>
</ul>
<p>La courbe caractéristique de la pompe à vitesse nominale est définie comme suit :</p>
<figure class="image"><img src="/equations_element/courbe_de_pompe.png"></figure>
<p>Les traits pointillés montrent le prolongement pris en compte dans les calculs quand la courbe caractéristique sort de son domaine de définition : les pentes diffèrent selon le mode de calcul.</p>
<p>Si le coefficient de vitesse de rotation de la pompe est différent de 1, la courbe caractéristique de la pompe est recalculée suivant la loi de similitude :</p>
<ul>
  <li>H<sub>1</sub> = H<sub>0</sub> x ALPR²</li>
  <li>Q<sub>1</sub> = Q<sub>0</sub> x ALPR</li>
</ul>
<p>&nbsp;</p>
<h3><mark class="pen-red">Mode transitoire rapide (coup de bélier)</mark></h3>
<p>La courbe temporelle de décroissance du facteur de réduction ALPR de la vitesse de rotation de la pompe suite à une disjonction est décrite par la relation :</p>
<figure class="image"><img src="/equations_element/eq_dinsjonction_pompe.png"></figure>
<ul>
  <li>Q0, H0 : débit et charge au droit de la pompe avant disjonction.</li>
  <li>J : moment d’inertie de la pompe.</li>
  <li>N0 : vitesse de rotation de la pompe (tours/mn)</li>
  <li>nu : rendement de la pompe.</li>
</ul>
<blockquote>
  <p><mark class="pen-red">WARNING</mark></p>
  <p>En mode transitoire rapide, on peut souhaiter tester l’impact de la fermeture d’un clapet positionné en tête du refoulement. Il faut alors désactiver l’option clapet de l’élément pompe et introduire explicitement dans le réseau un élément CLPT. La courbe de fermeture du clapet est définie dans le menu de paramétrage du scénario.&nbsp;</p>
  <p>Si l’option clapet est laissée activée en mode transitoire rapide dans l’élément POMP, le clapet est supposé dans ces calculs se fermer très rapidement : il ne génère aucune surpression.</p>
</blockquote>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
