<!--
title: Modélisation de la qualité
description: 
published: true
date: 2025-01-28T11:15:03.418Z
tags: 
editor: ckeditor
dateCreated: 2021-05-20T14:42:09.005Z
-->

<h1>Objets directement liées à la qualité</h1>
<p>La modélisation de la qualité nécessite des points d'entrée de flux de réactant.</p>
<p>Les objets concernés sont les suivants :</p>
<ul>
  <li><i><strong>Impozed piezometry</strong></i> : si la pression est telle que le débit est entrant, le flux de réactant sera considéré sur la base des concentrations imposées dans l'élément.</li>
  <li><i><strong>Flow injection</strong></i> : si le débit est entrant (positif), le flux de réactant sera considéré sur la base des concentrations imposées dans l'élément.</li>
  <li><i><strong>Chlorine injection</strong></i> : le flux de réactant sera considéré sur la base des concentrations imposées dans l'élément.</li>
  <li><i><strong>Model connection</strong></i> : s'il y a débit est entrant, le flux de réactant sera considéré sur la base des concentrations imposées dans l'élément.</li>
</ul>
<h1>Équation de transport&nbsp;</h1>
<h2>Le long d'une canalisation</h2>
<p>Trois mécanismes gouvernent l’évolution du paramètre Ci(x,y) à l’intérieur d’un tronçon :</p>
<ol>
  <li>transport par convection</li>
  <li>transport par dispersion</li>
  <li>réaction physico chimique</li>
</ol>
<p>Le transport par dispersion (2) est négligé.</p>
<figure class="image"><img src="/equations_element/eq_qualité_cana.png"></figure>
<p>&nbsp;</p>
<h2>Dans les autres liaisons</h2>
<p>Le flux de matière est conservé à travers les autres liaisons.</p>
<h2>Dans un nœud</h2>
<p>Un élément nodal est généralement associée à un débit sortant ou entrant dans le réseau.</p>
<p>- Cas d’un débit sortant : le flux sortant est égal à : F<sub>L</sub> = Q<sub>L</sub> x C<sub>A</sub>, où C<sub>A</sub> est la concentration au nœud A.</p>
<p>- Cas d’un débit entrant : le flux entrant est une donnée connue, définie par l’utilisateur : F<sub>L</sub> = F<sub>0</sub>.</p>
<h2>Dans un réservoir</h2>
<p>EXPRESS-EAU propose plusieurs modèles de mélange pour les réservoirs. Ces modèles sont détaillés à la page <a href="/modelisation/Reservoir_Node">reservoir node</a>.</p>
<h1>Modélisation des réactions physico-chimiques</h1>
<p>Les réactions chimiques altérant la masse de réactant peuvent agir :</p>
<ul>
  <li>dans la masse d’eau,</li>
  <li>le long des parois.</li>
</ul>
<p>La fonction f de l’équation est décomposée en deux fonctions : f = f1 + f2</p>
<h2>Réaction dans la masse d'eau</h2>
<p>Les éléments concernés sont les objets de modélisation capacitifs : tronçons de canalisation et réservoirs. La fonction f1 de l’équation dépend du réactant. La liste ci-dessous précise son expression pour les réactants les plus utilisés :</p>
<ul>
  <li>Chlore : f1 = -KB<sub>CL</sub> x C où KB<sub>CL</sub> est la constante de réaction.</li>
  <li>Trihalométhane : f1 = KB<sub>THM </sub>x (C-C<sub>L</sub>) où KB<sub>THM</sub> est la constante de réaction et C<sub>L</sub> la concentration limite.</li>
  <li>Traceur passif : f1 = 0</li>
  <li>Temps de séjour : f1 = 1</li>
</ul>
<h2>Réaction aux parois</h2>
<p>La réaction aux parois s’applique aux tronçons de canalisation.&nbsp;</p>
<p>La fonction f2 pour le chlore s’écrit : f2 = -4 KW<sub>CL</sub> x C</p>
<p>Où D est le diamètre de la canalisation et KW<sub>CL </sub>la constante de réaction aux parois, de la dimension d’une vitesse.</p>
<h1>Mode de calcul de la qualité</h1>
<p>Il existe deux mode de calcul de la qualité :</p>
<ul>
  <li>Traceur : chlore, THM, traceur passif, temps de séjour, temps de contact</li>
  <li>Provenance de l'eau</li>
</ul>
<h2>Bonne pratique</h2>
<p>Pour ces deux modes de calcul, il est fortement recommandé de sélectionner le raffinement de la discrétisation dans le paramétrage du scénario.</p>
<h2>Calcul sur les traceurs</h2>
<p>Il est possible de faire un calcul de qualité sur 1 à 4 traceurs parmi :</p>
<ul>
  <li>le chlore</li>
  <li>le trihalométhane</li>
  <li>un traceur passif</li>
  <li>le temps de séjour (ce dernier paramètre n’est pas à proprement parlé un réactant mais il obéit aux même lois de transport qu’un paramètre physico chimique).</li>
  <li>le temps de contact (idem).</li>
</ul>
<p>Pour le chlore et le THM, il est nécessaire de paramétrer les coefficients de réaction :</p>
<ul>
  <li>KB<sub>CL</sub> et &nbsp;KW<sub>CL</sub> respectivement coefficient de décroissance du chlore dans l'eau et vitesse de réaction aux parois.</li>
  <li>KB<sub>THM et </sub>CL respectivement constante de réaction et concentration limite.</li>
</ul>
<p>Pour le traceur passif, il n'y a rien à paramétré, de même que pour le temps de séjour.</p>
<blockquote>
  <p><strong>Qu'est-ce que le temps de contact ?</strong></p>
  <p>Le temps de contact est le temps de séjour de l'eau dans des canalisations d'un certain type (généralement le matériau). Par exemple, on s’intéressera au “<mark class="pen-green">temps de contact CVM</mark>”.</p>
  <p>Pour choisir les canalisations en question, il suffit de cocher l'option “calculer le temps de contact” dans celles-ci.</p>
</blockquote>
<h2>Calcul de la provenance de l'eau</h2>
<p>Il est possible de sélectionner jusqu'à 8 sources parmi les singularités suivantes :</p>
<ul>
  <li>Injection de débit</li>
  <li>Piézométrie imposée</li>
  <li>Connexion de modèles</li>
</ul>
<p>Le calcul donne pour chaque nœud du modèle, la proportion provenant de chaque source.&nbsp;</p>
<p>Il faut effectuer une simulation suffisamment longue pour que l'eau contenue dans le réseau et les réservoirs en début de simulation soit totalement consommée et négligeable par rapport à l'eau provenant des sources sur toute la durée de la simulation.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
