<!--
title: Objet Raccord ("Network_connection")
description: 
published: true
date: 2024-09-18T09:24:00.999Z
tags: 
editor: ckeditor
dateCreated: 2021-05-20T14:28:54.052Z
-->

<h2>Définition</h2>
<p>La couche <i><strong>model connection </strong></i>contient les éléments qui permettent de raccorder entre eux les différents modèles d'un projet : chaque élément est un marqueur utilisé pour connecter deux nœuds appartenant à des modèles différents d’un même projet.</p>
<p>Pour créer une interconnexion entre les modèles 1 et 2 au niveau des nœuds (A, B) il suffit de « poser » un élément sur chaque nœud et d’appareiller ces éléments en leur donnant le même nom.&nbsp;</p>
<p>Lors de la génération du modèle, le programme génère un élément <strong>headloss</strong> entre les nœuds A et B de très faible résistance hydraulique. Si un élément de la couche <i><strong>model connection</strong></i> reste non appareillé il est assimilé à un élément de type <i><strong>flow_injection</strong></i> ou <i><strong>impozed piezometry</strong></i> selon l’option sélectionnée, à la différence que dans un élément de la couche <i><strong>model connection</strong></i>, il est possible de renseigné un débit ou une cote variable, ce qui le rend plus intéressant.</p>
<figure class="image"><img src="/edit_model_connection.png"></figure>
<p>&nbsp;</p>
<h2>Données de l'élément</h2>
<p>Les paramètres à remplir dépendent de l’option choisie. Ils ne sont exploités que si le RACC n’est pas appareillé lors de l’étape de génération du modèle.</p>
<ul>
  <li>Courbe Q(t)</li>
  <li>Course Z(t)</li>
  <li><strong>Paramètres de qualité</strong> (uniquement utilisé en mode calcul de qualité activé)<ul>
      <li>Concentration en chlore (mg/l)</li>
      <li>Concentration en THM (mg/l)</li>
      <li>Concentration en traceur passif (mg/l)</li>
      <li>Temps de séjour (h)</li>
      <li>Temps de contact (h)</li>
    </ul>
  </li>
</ul>
<h2>Equation</h2>
<p>Même équation que pour la couche <i><strong>headloss </strong></i>avec K≅0.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
