<!--
title: Objet Régulateur de pression ("Pressure Control Valve")
description: 
published: true
date: 2025-01-27T14:13:44.957Z
tags: 
editor: ckeditor
dateCreated: 2021-05-20T14:19:56.263Z
-->

<h2>Définition</h2>
<figure class="image"><img src="/edit_pressure_reg_link_new.png"></figure>
<h2>Données de l'élément</h2>
<p>Les paramètres à renseigner sont les suivants :</p>
<ul>
  <li>Section (m²) : Section de la vanne</li>
  <li>Coefficient de perte de charge : Coefficient de perte de charge à travers la vanne en position totalement ouverte.</li>
  <li>Pression régulé (m3/h) : Pression de consigne à travers la vanne</li>
  <li>PID : paramètres de régulation</li>
</ul>
<p>&nbsp;</p>
<h2>Équation</h2>
<figure class="image"><img src="/equations_element/eq_reg_q.png"></figure>
<ul>
  <li>Z<sub>A</sub> et Z<sub>C</sub> : Cote piezométrique aux nœuds amont et aval de la vanne</li>
  <li>Q : débit à travers l’élément,</li>
  <li>S<sub>0</sub> : section de référence,</li>
  <li>K : coefficients de perte de charge rapporté à la section de référence.</li>
  <li>Alps : coefficient d’ouverture de la vanne, compris entre 0 et 1.</li>
</ul>
<p>Trois modes de régulation sont possibles :</p>
<ul>
  <li>Différentiel de pression imposé (Z<sub>A</sub> - Z<sub>C</sub>&nbsp;imposé)</li>
  <li>Cote piézométrique amont imposée (Z<sub>A</sub> imposée)</li>
  <li>Cote piézométrique aval imposée (Z<sub>C</sub>&nbsp;imposée)</li>
</ul>
<h2>Régulation</h2>
<blockquote>
  <p>L'algorithme calcul sur plusieurs itérations le coefficient ALPS de façon à respecter la consigne. Si ZA &lt;ZC , alors la vanne est réglée en position ouverte.</p>
</blockquote>
<p>Les coefficients P, I et D sont les coefficients utilisés par le moteur pour la régulation du ALPS.</p>
<p>Par défaut, ils sont fixés à 1.</p>
<p>P et D sont modifiables par l'utilisateur.</p>
<p>Afin de stabiliser la régulation, le coefficient D est utilisé comme un coefficient multiplicateur du volume présent dans le réseau en amont/en aval du régulateur de pression, ce qui permet de modifier la position de la vanne de stabilisation de pression en prenant en compte l'effet d'amortissement lié à ce volume. Un coefficient D=1 permet d'avoir des résultats stables sur la majeure partie des cas mais il arrive parfois que ça ne soit pas optimal. Lorsque des oscillations de pression sont constatées autour de la pression de consigne, il est conseillé de passer le D à 0 pour réduire ces oscillations, ou de tester des valeurs intermédiaires.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
