<!--
title: Objet Régulateur de débit ("Flow Control Valve")
description: 
published: true
date: 2022-07-08T16:19:45.753Z
tags: 
editor: ckeditor
dateCreated: 2021-05-20T14:19:12.807Z
-->

<h2>Définition</h2>
<p>La couche <i><strong>flow_regulator</strong></i> contient les vannes de régulation de débit.</p>
<figure class="image"><img src="/vues_edition/flow_regulator.png"></figure>
<p>&nbsp;</p>
<h2>Données de l'élément</h2>
<p>Les paramètres à renseigner sont les suivants :</p>
<ul>
  <li>Section (m²) : Section de la vanne</li>
  <li>Coefficient de perte de charge : Coefficient de perte de charge à travers la vanne en position totalement ouverte.</li>
  <li>Débit régulé (m3/h) : Débit de consigne à travers la vanne</li>
</ul>
<p>&nbsp;</p>
<h2>Equation</h2>
<figure class="image"><img src="/equations_element/eq_reg_q.png"></figure>
<ul>
  <li>Z<sub>A</sub> et Z<sub>C</sub> : Cote piezométrique aux nœuds amont et aval de la vanne</li>
  <li>Q : débit à travers l’élément,</li>
  <li>S<sub>0</sub> : section de référence,</li>
  <li>K : coefficients de perte de charge rapporté à la section de référence.</li>
  <li>Alps : coefficient d’ouverture de la vanne, compris entre 0 et 1.</li>
</ul>
<blockquote>
  <p>Le coefficient Alps est ajusté de façon à respecter Q = Q<sub>consigne</sub>. Si ZA &lt;ZC , alors la vanne est réglée en position ouverte.</p>
</blockquote>
<p>&nbsp;</p>
