<!--
title: Objet Réservoir ("Reservoir_Node")
description: 
published: true
date: 2024-09-18T09:14:47.328Z
tags: 
editor: ckeditor
dateCreated: 2021-05-20T14:17:18.945Z
-->

<h2>Définition</h2>
<p>Cet élément modélise un stockage.</p>
<figure class="image image_resized" style="width:88.47%;"><img src="/edit_reservoir_new.png"></figure>
<p>Le stockage peut être un réservoir enterré, semi-enterré ou sur tour. La distinction est faite par renseignement de la cote TN et des cotes du réservoir.</p>
<p>Son mode d'alimentation-vidange peut être :</p>
<ul>
  <li>En refoulement distribution séparée,</li>
  <li>En refoulement distribution confondue.</li>
</ul>
<p>La distinction est faite à partir du nombre de canalisations reliées au réservoir et du sens des liaisons. <u>Attention, donc, au sens des canalisations reliées au réservoir.</u></p>
<h2>Données de l'élément</h2>
<ul>
  <li>Nom : doit être unique.</li>
  <li>Modèle : modèle auquel appartient l'élément.</li>
  <li>Z<sub>TN</sub> (mNGF) : cote du terrain naturel. Utilisé par le moteur pour modélisation de liaison fictive en amont et aval du réservoir pour le calcul.</li>
  <li>Profondeur (m) : Utilisée par le moteur pour modélisation de liaison fictive en amont et aval du réservoir pour le calcul.</li>
  <li>Mode d'alimentation : <i>par le bas / par le haut : </i>Utilisé par le moteur pour le calcul de la charge au pied du réservoir.</li>
  <li><strong>Géométrie du réservoir</strong>
    <ul>
      <li>Courbe S(Z) : loi de remplissage du réservoir. La première valeur de Z sera prise comme cote de fond. NB : Entre deux points de la courbe S(Z), la surface est interpolée linéairement.</li>
    </ul>
  </li>
  <li>Cote initiale (mNGF) : niveau de remplissage en débit de simulation.</li>
  <li>Cote de trop-plein &nbsp;(mNGF) : cote de la surverse du réservoir.</li>
  <li><strong>Vannes de contrôle entrée et sortie</strong>
    <ul>
      <li>Mode de régulation entrée : <i>ouverte / fermée / régulée. </i>Si elle est ouverte, le réservoir se remplit quelque soit sa cote. Si elle est fermée, le réservoir ne se remplit jamais. Si elle est régulée, son comportement dépend du mode alimentation (Pour une alimentation par le bas, elle se ferme quand le réservoir atteint sa cote de trop-plein. Pour une alimentation par le haut, elle se comporte comme un robinet à flotteur**)</li>
      <li>Mode de régulation sortie : <i>ouverte / fermée / régulée. </i>Si elle est ouverte, le réservoir se vide quelque soit sa cote sauf si il est déjà vide. Si elle est fermée, le réservoir ne se vide jamais.&nbsp;Si elle est régulée, elle se ferme quand le réservoir atteint sa cote de fond, c'est à dire le Z minimal de la courbe S(Z).</li>
    </ul>
  </li>
  <li><strong>Remise à zéro du temps de séjour : </strong>vrai/faux</li>
</ul>
<blockquote>
  <p>**Précision importante sur les robinets à flotteur : Un réservoir avec un robinet à flotteur n'a généralement pas de trop-plein. La cote de trop-plein à renseigner dans le modèle est donc plutôt la cote à partir de laquelle le robinet à flotteur est complètement fermé. Lors des calculs, il commence à se fermer 15cm sous la cote renseignée et est totalement fermé quand cette cote est atteinte.</p>
</blockquote>
<h2>Equations hydrauliques</h2>
<p><strong>Remplissage du réservoir </strong>:&nbsp;<i> </i>La vanne d'entrée contrôle le remplissage. Si elle est ouverte, le réservoir se remplit quelque soit sa cote. Si elle est fermée, le réservoir ne se remplit jamais. Si elle est régulée, elle se ferme quand le réservoir atteint sa cote de trop-plein.</p>
<p><strong>Vidange du réservoir</strong> :&nbsp;<i> </i>La vanne de sortie contrôle la vidange. Si elle est ouverte, le réservoir se vide quelque soit sa cote sauf s'il ne contient plus d'eau, auquel cas la vanne se ferme. Si elle est fermée, le réservoir ne se vide jamais.&nbsp;Si elle est régulée, elle se ferme quand le réservoir atteint sa cote de fond, c'est à dire le Z minimal de la courbe S(Z). La vanne de sortie empêche <u>dans tous les cas</u> l’écoulement de se produire du nœud aval vers le château d’eau.</p>
<p><strong>Trop plein</strong> : Si la cote de l'eau dépasse la cote de trop-plein, l'eau se déverse et est perdue.</p>
<h2>Équations qualité</h2>
<h3>Les modèles de mélange</h3>
<p><strong>expresseau </strong>propose 4 modèles différents pour caractérise le mélange des réactants dans le réservoir :</p>
<figure class="image"><img src="/melange_reservoir.png"></figure>
<p>&nbsp;</p>
<ul>
  <li>Mélange parfait : l’eau entrant dans le réservoir est complètement mélangée avec l’eau présente : la concentration est homogène dans tout le réservoir.</li>
  <li>Ecoulement piston FIFO : l’eau circule dans le réservoir par tranches d’eau successives, la première tranche qui entre est également la dernière tranche qui sort. Ce modèle s’applique dans les réservoirs équipés de compartiments avec une alimentation à une extrémité et une sortie à l’autre. En pratique le réservoir est subdivisé en 10 compartiments fictifs d’égal volume, avec une concentration calculée pour chaque compartiment.</li>
  <li>Ecoulement piston LIFO : l’eau circule dans le réservoir par tranches d’eau successives, la première tranche qui entre est la première tranche qui sort. Ce modèle s’applique dans les réservoirs avec un remplissage par le bas. En pratique la réservoir est subdivisé en 10 compartiments fictifs d’égal volume, avec une concentration calculée pour chaque compartiment.</li>
  <li>Mélange en deux compartiments : ce modèle simule le &nbsp;comportement d’un réservoir avec une zone de circulation préférentielle et une zone morte. Il s’apparente avec un écoulement piston LIFO, mais avec deux compartiments seulement. L’utilisateur doit définir pour le modèle la fraction du volume totale du réservoir occupée par le premier compartiment.</li>
</ul>
<p>A noter que dans chaque compartiment on applique les équations de réaction physico chimique.</p>
<p>Dans la version V0 d’<strong>express'eau</strong> seul le modèle "mélange parfait" est implémenté.</p>
<h3>Remise à zéro du temps de séjour</h3>
<p>Cette option offre la possibilité de prendre en compte une rechloration dans le réservoir ou en sortie (sans pour autant faire un modèle chlore) dans le calcul des temps de séjour. Si l'option est cochée, le temps de séjour est remis à zéro en sortie de réservoir.</p>
