<!--
title: Théorie et modélisation des phénomènes transitoires
description: 
published: true
date: 2022-07-08T18:20:21.090Z
tags: 
editor: ckeditor
dateCreated: 2022-03-31T10:00:41.290Z
-->

<h1>Introduction</h1>
<p>Ce paragraphe présente la modélisation en transitoire rapide pour la problématique des coups de bélier.</p>
<p><mark class="marker-yellow">Cette fonctionnalité sera disponible dans la version PRO du logiciel.</mark></p>
