<!--
title: Objet Vanne ("Valve")
description: 
published: true
date: 2022-07-08T16:09:42.750Z
tags: 
editor: ckeditor
dateCreated: 2021-05-20T14:18:29.195Z
-->

<h2>Définition</h2>
<p>La couche <i><strong>valve</strong></i> contient les vannes simples.</p>
<figure class="image"><img src="/vues_edition/valve.png"></figure>
<p>&nbsp;</p>
<h2>Données de l'élément</h2>
<p>Les paramètres à renseigner sont les suivants :</p>
<ul>
  <li>Section (m²) : Section de la vanne.</li>
  <li>Coefficient de perte de charge : Coefficient de perte de charge à travers la vanne en position totalement ouverte.</li>
  <li>Coefficient d'ouverture : Coefficient de réduction de l'ouverture de la vanne.</li>
</ul>
<p>&nbsp;</p>
<h2>Equation</h2>
<figure class="image"><img src="/equations_element/eq_vanne.png"></figure>
<ul>
  <li>Z<sub>A</sub> et Z<sub>C</sub> les cotes piézométriques amont et aval</li>
  <li>Q : débit à travers l’élément,</li>
  <li>S : section de référence,</li>
  <li>K : coefficient de perte de charge rapporté à la section de référence.</li>
</ul>
<p>On peut spécifier une position d’ouverture partielle de la vanne à l’aide du paramètre ALPS défini comme suit : Alps = S/S<sub>0</sub> où S<sub>0</sub> est la section d’ouverture partielle de la vanne. Le coefficient K devient alors :</p>
<p>K' = K / ALPS²</p>
<p>&nbsp;</p>
