<!--
title: Objet Ventouse ("Air_relief_valve")
description: 
published: true
date: 2022-07-08T15:46:20.453Z
tags: 
editor: ckeditor
dateCreated: 2021-05-20T14:25:24.536Z
-->

<h2>Définition</h2>
<p>&nbsp;</p>
<figure class="image"><img src="/vues_edition/air_relief_valve.png"></figure>
<h2>Données de l'élément</h2>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2>Equation</h2>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
