<!--
title: Objet Piézométrie imposée ("Imposed_piezometry")
description: 
published: true
date: 2024-09-18T09:20:23.905Z
tags: 
editor: ckeditor
dateCreated: 2021-05-20T14:27:06.693Z
-->

<p>&nbsp;</p>
<h2>Définition</h2>
<p>La couche<i><strong> impozed piezometry </strong></i>contient les éléments permettant d'imposer une cote piézométrique à un nœud de calcul.</p>
<figure class="image"><img src="/edit_z0_new.png"></figure>
<h2>Données de l'élément</h2>
<p>Les paramètres à renseigner sont les suivants :</p>
<ul>
  <li>Cote piezométrique : cote qui sera imposée au nœud de calcul.</li>
  <li><strong>Paramètres de qualité</strong> (uniquement utilisé en mode calcul de qualité activé)<ul>
      <li>Concentration en chlore (mg/l)</li>
      <li>Concentration en THM (mg/l)</li>
      <li>Concentration en traceur passif (mg/l)</li>
      <li>Temps de séjour (h)</li>
      <li>Temps de contact (h)</li>
    </ul>
  </li>
</ul>
<p>&nbsp;</p>
<h2>Equation</h2>
<figure class="image"><img src="/equations_element/eq_z0.png"></figure>
<p>QL est le débit sortant. C’est une variable calculée par le programme. S'il est négatif, c'est un débit entrant.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
