<!--
title: Type de licence. Demande et activation de votre licence
description: 
published: true
date: 2023-11-21T15:04:52.743Z
tags: 
editor: ckeditor
dateCreated: 2021-05-18T16:11:13.865Z
-->

<h1>Type de licence</h1>
<p>Le logiciel <strong>express'eau </strong>dispose de deux types de licence :</p>
<ul>
  <li>la licence ESSENTIEL : accès gratuit et illimité aux principales fonctionnalités</li>
  <li>la licence PRO : fonctionnalités avancées et assistance technique</li>
</ul>
<p>Plus d'information ici : <a href="https://hydra-software.net/wp-content/uploads/2023/09/Fonctionnalite%CC%81s-expresseau-essentiel-VS-pro1.pdf">Fonctionnalite-expresseau-essentiel-VS-pro.pdf</a></p>
<h1>Demande de licence</h1>
<p>Les demandes de licences se font automatiquement lors du téléchargement d'<strong>expresseau</strong>, sur le site internet hydra-software :</p>
<p><a href="https://licence.hydra-software.net/expresseau/">https://licence.hydra-software.net/expresseau/</a></p>
<p>Vous recevrez votre clef d'activation de la licence par mail. Par défaut, une licence OPEN vous sera fournie. Si vous souhaitez disposer de la version PRO (payante), il vous faut contacter, en mettant en copie le contact que vous avez au sein d'hydratec si c'est le cas : <a href="contact@hydra-software.net">contact@hydra-software.net.</a></p>
<h1>Activation de votre licence</h1>
<p>Au premier lancement d'<strong>express'eau</strong>, la clef vous sera demandée afin d'activer votre licence.</p>
<p>Si ce n'est pas le cas, l'activation de votre licence se fait via le menu <code>Express'eau → Activer la licence.</code></p>
<p>Si pour des raison d'accessibilité du réseau (pare-feu etc.), l'activation via QGIS échoue, une activation manuelle est possible:</p>
<ul>
  <li>dans QGIS, ouvrir <code>About</code> dans le menu express'eau</li>
  <li>noter le <code>Serial number</code> affiché en bas de la fenêtre</li>
  <li>aller sur <a href="https://licence.hydra-software.net/activation.html?product=expresseau">https://licence.hydra-software.net/activation.html?product=expresseau</a> et remplir le formulaire</li>
  <li>le fichier obtenu est <code>expresseau_licence.key</code> et doit être mis dans le répertoire .expresseau de l'utilisateur.</li>
</ul>
<p>&nbsp;</p>
